<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,1,200"
    rel="stylesheet" />
<link rel="stylesheet" href="/public/css/bootstrap.css">
<link rel="stylesheet" href="/public/css/common.css">
<link rel="stylesheet" href="/public/css/style.css">

<script>
    function loading(mode, el = null) {
        if (mode == 1) $.LoadingOverlay("show");
        else if (mode == 0) $.LoadingOverlay("hide");
        else if (mode == 2) {
            $(el).html('<img src="/public/images/preloader.svg" class="loader_overlay">');
        } else if (mode == 3) {
            $(el).prepend('<div class="spinner-border"></div> ').attr('disabled', true);
        } else if (mode == 30) {
            setTimeout(function () {
                $(el).removeAttr('disabled');
                $(el).find('.spinner-border').remove();
            }, 500);
        } else if (mode == 4) {
            $(el).append(' <div class="spinner-border"></div>');
        } else if (mode == 40) {
            $(el).find('.spinner-border').remove();
        }
    }
</script>