<div class="nav-bar">
    <ul>
        <li class=""><a href="/"><span class="material-symbols-outlined"
                    style="font-size: 25px; font-weight: 500;">home</span><%=L('nav_bar1', language, 'Home') %></a></li>
        <% if (role) { %>
        <li><a href="/members"><span class="material-symbols-outlined"
                    style="font-size: 25px; font-weight: 500;">group</span>Members</a></li>
        <li><a href="/schedule"><span class="material-symbols-outlined"
                    style="font-size: 25px; font-weight: 500;">today</span>Schedule</a></li>
        <% if (role=='admin' ) { %>
            <li><a href="/settings"><span class="material-symbols-outlined"
                    style="font-size: 25px; font-weight: 500;">settings</span>Settings</a></li>
            <% } %>
        <li><a href="/profile"><span class="material-symbols-outlined"
                    style="font-size: 25px; font-weight: 500;">person</span>Profile</a></li>
        <li><a href="/events"><span class="material-symbols-outlined"
                    style="font-size: 25px; font-weight: 500;">event_list</span>Events</a></li>
        <li><a href="/passes"><span class="material-symbols-outlined"
                    style="font-size: 25px; font-weight: 500;">confirmation_number</span>Passes</a></li>
        <li><a href="/competitions"><span class="material-symbols-outlined"
                    style="font-size: 25px; font-weight: 500;">trophy</span>Competitions</a></li>
        <% } else {%>
            <li><a href="/login"><span class="material-symbols-outlined"
                style="font-size: 25px; font-weight: 500;">login</span>Login</a></li>
        <% } %>

    </ul>
</div>