<div class="nav-bar">
    <ul>
        <li class=""><a href="/"><span class="material-symbols-outlined"
                    style="font-size: 25px; font-weight: 500;">home</span>Home</a></li>
        <li><a href="/members"><span class="material-symbols-outlined"
                    style="font-size: 25px; font-weight: 500;">group</span>Members</a></li>
        <li><a href="/schedule"><span class="material-symbols-outlined"
                    style="font-size: 25px; font-weight: 500;">today</span>Schedule</a></li>
        <li><a href="/settings"><span class="material-symbols-outlined"
                    style="font-size: 25px; font-weight: 500;">settings</span>Settings</a></li>

    </ul>
</div>