<div class="profile">
    <div id="profile-data">
        <div class="profile-name">Erasyl</div>
        <img src="https://i.pinimg.com/564x/0a/2f/79/0a2f795becbe7758afdd792f0620bc55.jpg" alt="">
        <div class="profile-dropdown">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6" fill="none"
                class="mr-1.5 h-2 w-2 ">
                <path
                    d="M4.49738 5.37596C4.29947 5.67283 3.86325 5.67283 3.66533 5.37596L0.599593 0.777349C0.378075 0.445072 0.616271 -1.73895e-07 1.01562 -1.39084e-07L7.1471 3.95398e-07C7.54645 4.30209e-07 7.78465 0.445073 7.56313 0.77735L4.49738 5.37596Z"
                    fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <div class="dropdown-content">
        <ul>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/members">Members</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/auth/logout">Log out</a>
            </li>
        </ul>
    </div>
</div>