<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competitions</title>
    <link rel="shortcut icon" href="../public/images/Favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/brackets-viewer@latest/dist/brackets-viewer.min.css" />
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/brackets-viewer@latest/dist/brackets-viewer.min.js"></script>



    <%- include('./components/head.ejs.html') %>
        <script>
            function loading(mode, el = null) {
                if (mode == 1) {
                    $(el).html('<img src="/public/images/preloader.svg" class="loader_overlay">');
                } else if (mode == 2) {
                    $(el).prepend('<div class="spinner-border"></div> ').attr('disabled', true);
                } else if (mode == 20) {
                    setTimeout(function () {
                        $(el).removeAttr('disabled');
                        $(el).find('.spinner-border').remove();
                    }, 500);
                } else if (mode == 3) {
                    $(el).append(' <div class="spinner-border"></div>');
                } else if (mode == 30) {
                    $(el).find('.spinner-border').remove();
                }
            }
        </script>

</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/public/images/CoachMate.png" alt=""></a>
        </div>
        <% if (role) { %>
            <%- include('./components/profile_bar.ejs.html') %>
                <% } %>
    </header>
    <main>
        <%- include('./components/nav_bar.ejs.html') %>
            <div class="competition-content">
                <div class="competition-content-head bg-white rounded p-4">
                    <h2 id="competition_name">
                        <%= comp_data.event_name %>
                    </h2>
                    <div class="competition-nav mt-3">
                        <ul class="nav nav-tabs" style="border: none;">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#competition_info">Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#participants_info">Participants</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#brackets_info">Brackets</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="competition-content-body mt-3 flex-wrap tab-pane active" id="competition_info">
                        <div class="container p-4 d-flex align-items-center bg-white gap-5 rounded">
                            <img src="<%= comp_data.event_img %>" alt="" id="competition_img" class="rounded"
                                style="width: 60%;">
                            <div class="text-dark flex-fill">
                                <h3>Normal Registration</h3>
                                <p id="normal_registration"> </p>
                                <h3>Late Registration</h3>
                                <p id="late_registration"> </p>
                                <h3>Event starts</h3>
                                <p id="event_starts">

                                </p>
                                <% if(role=='student' ) { %>
                                    <button class="btn btn-primary" onclick="showRegisterModal()"
                                        id="register_btn">Register</button>
                                    <button class="btn btn-success" id="registered_btn"
                                        style="display: none;">Registered</button>
                                    <% } %>
                            </div>
                        </div>

                        <div class="d-flex w-100 gap-5 mt-4">
                            <div class="container p-4  bg-white flex-fill rounded" style="width: 60%;">
                                <h2>
                                    <%= comp_data.event_name %>
                                </h2>
                                <p class="description mt-2">
                                    <%= comp_data.description %>
                                </p>
                            </div>
                            <div class="container flex-fill p-0" style="width: 40%;">
                                <div class="competition_organizer_block bg-white p-4 rounded">
                                    <h3>Organizer</h3>
                                    <img src="https://bjjagb.com/wp-content/uploads/2023/07/cropped-BJJAGB-Logo.png"
                                        width="100" class="mt-3" alt="">
                                    <h4 id="organizer_name" class="mt-3">
                                        <%= comp_data.organizer_name %>
                                    </h4>
                                    <div class="d-flex gap-1 mt-4">
                                        <span class="material-symbols-outlined">
                                            mail
                                        </span>
                                        <p>
                                            <%= comp_data.email %>
                                        </p>
                                    </div>
                                    <div class="d-flex gap-1 mt-1">
                                        <span class="material-symbols-outlined">
                                            call
                                        </span>
                                        <p>
                                            <%= comp_data.phone_number %>
                                        </p>
                                    </div>
                                </div>

                                <div class="competition_location_block mt-3 bg-white p-4 rounded">
                                    <h3>Location</h3>
                                    <p class="mt-3">City: <b id="city">
                                            <%= comp_data.city %>
                                        </b></p>
                                    <p>Address: <b id="address">
                                            <%= comp_data.address %>
                                        </b></p>
                                    <iframe src="" id="location_map" frameborder="0"></iframe>
                                </div>
                                <div class="competition_entries_block mt-3 bg-white p-4 rounded">
                                    <h3>Entries</h3>
                                    <div class="entries mt-3">
                                        <% if(comp_data.entries.length){ %>
                                            <% comp_data.entries.forEach((entry)=> { %>
                                                <div class="entry d-flex justify-content-between">
                                                    <div class="entry_name">
                                                        <%= JSON.parse(entry).name %>
                                                    </div>
                                                    <div class="entry_age">
                                                        <%= JSON.parse(entry).from %>-<%= JSON.parse(entry).to %> years
                                                    </div>

                                                </div>
                                                <% }) %>
                                                    <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 tab-pane fade" id="participants_info">
                        <div class="container bg-white p-3 rounded">
                            <h2>Participants</h2>
                            <div class="search position-relative w-100 mt-2">
                                <input class="form-control me-2 w-100 search-input border-secondary ps-5"
                                    onkeyup="searchProduct(this.value)" type="search" placeholder="Введите"
                                    aria-label="Search" />
                                <img src="/public/images/search-icon.webp"
                                    class="position-absolute top-50 translate-middle ps-5" style="height: 12px;">
                            </div>
                        </div>
                        <div class="container p-0 rounded mt-2" id="participants">



                        </div>
                    </div>

                    <div class="mt-3 tab-pane fade" id="brackets_info">
                        <div class="bracket  p-3 rounded container bg-white">
                        <div class="p-3 rounded mb-3 container bg-white d-flex gap-5">
                            <h2>Brackets</h2>
                            <button type="button" id="register_modal_btn" class="btn btn-primary px-md-4 mt-1"
                                onclick="showCreateBracketModal()">+ Create Bracket</button>
                        </div>
                        <div class="divider"></div>
                        <div class="mt-3" id="brackets">

                        </div>
                    </div>
                </div>
            </div>


    </main>
    <footer></footer>

    <!-- Modals -->

    <div class="modal fade" id="register-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Register</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="mb-3 mt-3">
                            <label class="mb-2">First Name</label>
                            <input type="text" class="form-control" id="first_name" placeholder="First name">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Last Name</label>
                            <input type="text" class="form-control" id="last_name" placeholder="Last name">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Year of birth</label>
                            <input type="number" class="form-control" id="year_of_birth" placeholder="2004">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Entry</label>
                            <select name="" id="entry" class="form-control">
                                <option value="none" disable selected>None</option>
                                <% if(comp_data.entries.length){ %>
                                    <% comp_data.entries.forEach((entry)=> { %>
                                        <option value=" <%= JSON.parse(entry).name %>">
                                            <%= JSON.parse(entry).name %>
                                        </option>
                                        <% }) %>
                                            <% } %>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="register_modal_btn" class="btn btn-primary px-md-4"
                        onclick="register()">Register</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit_participant-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Participant</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="mb-3 mt-3">
                            <label class="mb-2">First Name</label>
                            <input type="text" class="form-control" id="new_first_name" placeholder="First name">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Last Name</label>
                            <input type="text" class="form-control" id="new_last_name" placeholder="Last name">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Year of birth</label>
                            <input type="number" class="form-control" id="new_year_of_birth" placeholder="2004">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Entry</label>
                            <select name="" id="new_entry" class="form-control">
                                <option value="none" disable selected>None</option>
                                <% if(comp_data.entries.length){ %>
                                    <% comp_data.entries.forEach((entry)=> { %>
                                        <option value=" <%= JSON.parse(entry).name %>">
                                            <%= JSON.parse(entry).name %>
                                        </option>
                                        <% }) %>
                                            <% } %>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="edit_participant_btn" class="btn btn-primary px-md-4"
                        onclick="editParticipant()">Edit</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="delete_participant-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Are you sure? You won't be able to revert this
                </div>
                <div class="modal-footer">
                    <button type="button" id="delete_participant_btn" class="btn btn-danger px-md-4"
                        onclick="deleteParticipant()">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="create_bracket-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create Bracket</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Name</label>
                            <input type="text" class="form-control" id="bracket_name" placeholder="Bracket name">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Participants</label>
                            <div class="form-control" id="bracket_participants">

                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="create_bracket_btn" class="btn btn-primary px-md-4"
                        onclick="createBracket()">Create</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="update_match-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Match</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <h3></h3>
                        <label id="opponent1-label" class="form-label" for="opponent1">Opponent 1: </label>
                        <input type="number" class="form-control" id="opponent1"><br>
                        <label id="opponent2-label" class="form-label"  for="opponent2">Opponent 2: </label>
                        <input type="number" class="form-control" id="opponent2"><br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="update_match_btn" class="btn btn-primary px-md-4"
                        onclick="deleteParticipant()">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete_bracket-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Are you sure? You won't be able to revert this
                </div>
                <div class="modal-footer">
                    <button type="button" id="delete_participant_btn" class="btn btn-danger px-md-4"
                        onclick="deleteBracket()">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- END OF MODALS -->

    <script type="text/javascript" src="https://s2.webapi.ai/chat-widget/uniq-chat.js"></script>

    <script>
        var ailabs_user_info = {
            'client': 'c10',
            'welcome_message': 'Welcome to the chat 👋',
            'popup_mode': 0, //0-off, 1-auto popup after 10 seconds for new users
            'input_comment': 'Type your message or /start to restart'
        };
        AILabsChatStart();
    </script>


    <script src="/public/js/brackets.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var globalPasses;
        var globalPassId;
        var globalPassIndex;
        const globalCompetitionId = "<%= comp_data.comp_id %>";
        var globalParticipants = JSON.parse("<%= comp_data.participants %>".replace(/&#34;/g, '"'));
        var globalParticipantsIndex;
        var globalParticipantId;

        $(document).ready(async function () {
            var currentUrl = window.location.pathname;

            $(".nav-bar ul li").each(function () {
                var listItem = $(this);
                var listItemLink = listItem.find("a");
                var listItemHref = listItemLink.attr("href");

                if (currentUrl === listItemHref) {
                    listItem.addClass("active");
                } else {
                    listItem.removeClass("active");
                }
            });
            showParticipants();
            // showEntries();

            loading(1);
            $("#event_starts").html(getMonthAndDay('<%= comp_data.event_start %>') + ' <%= comp_data.event_time %>');
            $("#normal_registration").html(getMonthAndDay('<%= comp_data.normal_registration.start_date %>') + ' - ' + getMonthAndDay('<%= comp_data.normal_registration.end_date %> ') + ' 23:59');
            $("#late_registration").html(getMonthAndDay('<%= comp_data.late_registration.start_date %>') + ' - ' + getMonthAndDay('<%= comp_data.late_registration.end_date %> ') + ' 23:59');

            if (JSON.stringify(globalParticipants).includes('<%= user_id %>')) {
                $("#register_btn").hide();
                $("#registered_btn").show();
            }

            loading(0);


        });


        function showParticipants() {
            var participantsHTML = ''
            if (globalParticipants && globalParticipants.length) {
                const participants = globalParticipants;
                participants.forEach((p, index) => {
                    participantsHTML += `
                        <div class="participant bg-white p-3 d-flex justify-content-between gap-5 align-items-center mt-3 rounded" id="participant-${index}">
                        <img src="${p.user_img}" alt="" width="75" height="75" class="rounded">
                        <div class="name h4 w-25">${p.first_name} ${p.last_name}</div>
                        <div class="birth">${p.year_of_birth}</div>
                        <div class="academy">${p.panel_name}</div>
                        <div class="entry flex-fill">${p.entry}</div>
                        <% if( user_id == comp_data.organizer_id) { %> 
                            <div class="actions flex-fill">
                                <button type="button" class="btn btn-light dropdown-toggle d-flex" data-bs-toggle="dropdown">
                                    <div class="more_icon d-flex">
                                    <span class="material-symbols-outlined" style="font-size: 25px; font-weight: 900;">more_horiz</span>
                                    </div>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#" onclick="showEditParticipantModal('participant-${index}')">Edit</a>
                                    <a class="dropdown-item" href="#" onclick="showDeleteParticipantModal('participant-${index}')">Delete</a>
                                </div>
                                </div>
                        <% } %> 
                        </div>
                    `;
                });
                $('#participants').html(participantsHTML);
            }
        }

        function showRegisterModal() {
            $("#first_name").val(globalUser.first_name);
            $("#last_name").val(globalUser.last_name);
            $('#register-modal').modal('show');
        }

        function register() {
            loading(2, el = '#register_modal_btn');

            var first_name = $('#first_name').val().trim();
            var last_name = $('#last_name').val().trim();
            var year_of_birth = $('#year_of_birth').val();
            var entry = $('#entry').val();
            var user_img = $('#profile-data .profile-img').attr('src');


            if (first_name.trim() == '' || last_name.trim() == '' || year_of_birth.trim() == '' || entry == 'none') {
                loading(20, el = '#register_modal_btn');
                return $.ambiance({
                    message: "Please fill in all fields.",
                    type: "error",
                    fade: true
                });
            }

            $.ajax({
                url: '/competitions/<%= comp_data.comp_id %>/participant',
                method: 'POST',
                data: { action: 'addParticipant', first_name: first_name, last_name: last_name, year_of_birth: year_of_birth, entry: entry, user_img: user_img },
                dataType: 'json',
                success: function (res) {
                    if (res.r) {
                        $("#register-modal").modal("hide");
                        $("#register_btn").hide();
                        $("#registered_btn").show();
                        globalParticipants.push({ first_name: first_name, last_name: last_name, user_id: res.user_id, panel_name: res.panel_name, panel_id: res.panel_id, year_of_birth: year_of_birth, entry: entry, user_img: user_img })
                        showParticipants();
                    }
                    loading(20, el = '#register_modal_btn');
                }, error: function (e) {
                    console.log(e)
                }
            })
        }

        function showEditParticipantModal(p_index) {
            var participant = globalParticipants[p_index.split('-')[1]];
            globalParticipantsIndex = p_index;
            globalParticipantId = globalParticipants[p_index.split('-')[1]].user_id;
            $('#new_first_name').val(participant.first_name);
            $('#new_last_name').val(participant.last_name);
            $('#new_year_of_birth').val(participant.year_of_birth);
            $('#new_entry').val(participant.entry);
            $('#edit_participant-modal').modal('show');
        }

        function editParticipant() {
            var first_name = $('#new_first_name').val().trim();
            var last_name = $('#new_last_name').val().trim();
            var year_of_birth = $('#new_year_of_birth').val();
            var entry = $('#new_entry').val();

            if (first_name.trim() == '' || last_name.trim() == '' || year_of_birth.trim() == '' || entry == 'none') {
                loading(20, el = '#register_modal_btn');
                return $.ambiance({
                    message: "Please fill in all fields.",
                    type: "error",
                    fade: true
                });
            }

            loading(2, el = '#edit_participant_btn');
            $.ajax({
                url: '/competitions/<%= comp_data.comp_id %>/participant',
                method: 'POST',
                data: { action: 'editParticipant', user_id: globalParticipantId, first_name: first_name, last_name: last_name, year_of_birth: year_of_birth, entry: entry },
                dataType: 'json',
                success: function (res) {
                    if (res.r) {
                        $.ambiance({
                            message: "Updated succesfully.",
                            type: "success",
                            fade: true
                        });

                    }
                    loading(20, el = '#edit_participant_btn');
                    $('#edit_participant-modal').modal('hide');
                }
            })
        }

        function showDeleteParticipantModal(p_index) {
            globalParticipantId = globalParticipants[p_index.split('-')[1]].user_id;
            console.log(globalParticipantId)
            globalParticipantsIndex = p_index;
            $('#delete_participant-modal').modal('show');

        }

        function deleteParticipant() {
            loading(2, el = '#delete_participant_btn');
            $.ajax({
                url: '/competitions/<%= comp_data.comp_id %>/participant',
                method: 'POST',
                data: { action: 'deleteParticipant', user_id: globalParticipantId },
                dataType: 'json',
                success: function (res) {
                    console.log(res)
                    if (res.r) {
                        $.ambiance({
                            message: "Deleted succesfully.",
                            type: "success",
                            fade: true
                        });
                    }
                    loading(20, el = '#delete_participant_btn');

                    $('#delete_participant-modal').modal('hide');
                    $(`#${globalParticipantsIndex}`).remove();
                }
            })
        }

        function getMonthAndDay(dateString) {
            const date = new Date(dateString);
            const month = date.toLocaleString('en-US', { month: 'long' });
            const day = date.getDate();
            const result = `${month} ${day}`;
            return result;
        }


    </script>
</body>

</html>