<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="shortcut icon" href="../public/images/Favicon.png" type="image/x-icon">
    <%- include('./components/head.ejs.html') %>
</head>

<body>
    <header>
        <div class="logo">
            <a href=""><img src="/public/images/CoachMate.png" alt=""></a>
        </div>
        <div class="profile">
            <div id="profile-data">
                <div class="profile-name">Erasyl</div>
                <img src="https://i.pinimg.com/564x/0a/2f/79/0a2f795becbe7758afdd792f0620bc55.jpg" alt="">
                <div class="profile-dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6" fill="none"
                        class="mr-1.5 h-2 w-2 ">
                        <path
                            d="M4.49738 5.37596C4.29947 5.67283 3.86325 5.67283 3.66533 5.37596L0.599593 0.777349C0.378075 0.445072 0.616271 -1.73895e-07 1.01562 -1.39084e-07L7.1471 3.95398e-07C7.54645 4.30209e-07 7.78465 0.445073 7.56313 0.77735L4.49738 5.37596Z"
                            fill="currentColor"></path>
                    </svg>
                </div>
            </div>
            <div class="dropdown-content">
                <ul>
                    <li>
                        <a href="">Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="">Members</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="">Exit</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="news-content">
            <div class="nav-bar">
                <ul>
                    <li class="active"><a href="/"><span class="material-symbols-outlined"
                                style="font-size: 25px; font-weight: 500;">home</span>Home</a></li>
                    <li><a href=""><span class="material-symbols-outlined"
                                style="font-size: 25px; font-weight: 500;">group</span>Members</a></li>
                    <li><a href=""><span class="material-symbols-outlined"
                                style="font-size: 25px; font-weight: 500;">today</span>Schedule</a></li>
                    <li><a href="/settings"><span class="material-symbols-outlined"
                                style="font-size: 25px; font-weight: 500;">settings</span>Settings</a></li>

                </ul>
            </div>
            <div class="content">
                <div class="content-head">
                    <h1>News</h1>
                    <button data-bs-toggle="modal" data-bs-target="#create_news-modal" class="btn btn-primary"><span
                            class="material-symbols-outlined" style="font-size: 25px; font-weight: 700;">add</span>Add
                        News</button>
                </div>
                <div class="divider"></div>
                <div class="content-body">

                </div>
            </div>
            <div class="ad-content">

                <div class="hot-links">
                    <ul class="hot-links-list">

                    </ul>
                    <button type="button" onclick="showAddLinkModal()"><span class="material-symbols-outlined"
                            style="font-size: 25px; font-weight: 700;">add</span>New Link</button>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>

    <!-- MODALS -->
    <div class="modal fade" id="create_news-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add News</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="mb-3 mt-2">
                            <label class="mb-2">News Image</label>
                            <input type="file" class="form-control" id="news_img" placeholder="Title">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">News title</label>
                            <input type="text" class="form-control" id="news_title" placeholder="Title">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">News text</label>
                            <textarea id="news_text" cols="30" rows="4" class="form-control"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="add_news_btn" class="btn btn-primary px-md-4"
                        onclick="createNews()">Add</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="create_link-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Link</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Link text</label>
                            <input type="text" class="form-control" id="link_text" placeholder="Text">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Link URL</label>
                            <input type="text" class="form-control" id="link_url" placeholder="https://">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="add_link_btn" class="btn btn-primary px-md-4"
                        onclick="createLink()">Add</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <!-- END OF MODALS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            loading(1);
            loading(0);
        });

        $('#profile-data').on('click', () => {
            $('.dropdown-content').slideToggle(300);
        });

        $(document).ready(function () {
            var currentUrl = window.location.pathname;

            $(".nav-bar ul li").each(function () {
                var listItem = $(this);
                var listItemLink = listItem.find("a");
                var listItemHref = listItemLink.attr("href");

                if (currentUrl === listItemHref) {
                    listItem.addClass("active");
                } else {
                    listItem.removeClass("active");
                }
            });
        });


        function showNews() {
            $('.content-body').html('');
            $.ajax({
                url: '/news/get-all', method: 'get', success: function (data) {
                    var news_data = JSON.parse(data);
                    news_data.forEach((news) => {
                        var newsContent = `
                            <div class="news">
                                <img src="${news.image_url}" alt="">
                                <div class="news-title">
                                    <h3> ${news.title} </h3>
                                </div>
                                <div class="news-text">
                                    ${news.text}
                                </div>
                            </div>
                        `;
                        $('.content-body').append(newsContent);
                    })
                }, error: function (err) {
                    console.log(err)
                }
            })
        }

        function showLinks() {
            $(".hot-links-list").html('');
            $.ajax({
                url: '/links/get-all', method: 'get', success: function (data) {
                    var links_data = JSON.parse(data);
                    links_data.forEach((link) => {

                        var list = `<li><a href="${link.link_url}" target="_blank">${link.link_text}</a></li>`;
                        $(".hot-links-list").append(list);
                    });
                }, error: function (err) {
                    console.log(err);
                }
            });
        }

        function showAddNewsModal() {
            $('#create_news-modal').modal('show');
        }

        function showAddLinkModal() {
            $('#create_link-modal').modal('show');
        }

        function createNews() {
            let img = $('#news_img')[0].files[0];
            let title = $('#news_title').val().trim();
            let text = $('#news_text').val().trim();

            if (img && (!title || !text)) {
                $.ambiance({
                    message: "Please provide a title and text for the news.",
                    type: "error",
                    fade: true,
                    width: 400
                });
                return;
            }

            if (!img) {
                $.ambiance({
                    message: "Please upload an image.",
                    type: "error",
                    fade: true,
                    width: 400
                });
                return;
            }

            loading(2, el = '#add_news_btn');

            const formData = new FormData();
            formData.append('img', img);
            formData.append('title', title);
            formData.append('text', text);

            $.ajax({
                url: "/news/create", method: 'post', data: formData, processData: false, contentType: false, success: function (r) {
                    $('#create_news-modal').modal('hide');
                    loading(20, el = '#add_news_btn');
                    $.ambiance({
                        message: "News added!",
                        type: "success",
                        fade: true
                    });
                    loading(1);
                    showNews();
                    loading(0);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }


        function createLink() {
            let link_url = $('#link_url').val().trim();
            let link_text = $('#link_text').val().trim();

            if (!(link_text && link_url)) {
                $.ambiance({
                    message: "Please provide link text and link URL.",
                    type: "error",
                    fade: true,
                    width: 400
                });
                return;
            }

            loading(2, el = '#add_link_btn');

            $.ajax({
                url: "/links/create", method: 'post', data: { link_text: link_text, link_url: link_url }, success: function (r) {
                    showLinks();
                    $('#link_url').val('');
                    $('#link_text').val('');
                    $('#create_link-modal').modal('hide');
                    loading(20, el = '#add_link_btn');
                    $.ambiance({
                        message: "Link added!",
                        type: "success",
                        fade: true
                    });
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }


    </script>
</body>

</html>