<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoachMate</title>
    <link rel="shortcut icon" href="../public/images/welcome.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="login_panel">

        <div class="sign_in">
            <div class="title">
                <p>CoachMate</p>
                <div class="title_line"></div>
            </div>

            <div class="sign_in_form">
                <div class="sign_in_heading">
                    <p>Sign In</p>
                </div>

                <div class="form">
                    <div class="email">
                        <input type="text" name="email" id="email" placeholder="Email">
                    </div>

                    <div class="password">
                        <input type="text" name="password" id="password" placeholder="Password">
                        <div class="forgot">
                            <a href="#">Forgot a password ?</a>
                        </div>
                    </div>

                    <div class="login_btn">
                        <button type="button">Login</button>
                    </div>
                    
                </div>

            </div>
        </div>

        <div class="welcome_screen">
            <div class="welcome_img">
                <img src="../public/images/welcome.png" alt="" width="350px">
            </div>

            <div class="welcome_text">
                <p>Welcome back, please login to your account</p>
            </div>
        </div>
    </div>
</body>

</html>