<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="shortcut icon" href="../public/images/Favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/common.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,1,200"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://www.richardhsu.me/jquery.ambiance/assets/css/jquery.ambiance.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://www.richardhsu.me/jquery.ambiance/assets/js/jquery.ambiance.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <script>
        function loading(mode, el = null) {
            if (mode == 1) {
                $(el).html('<img src="/public/images/preloader.svg" class="loader_overlay">');
            } else if (mode == 2) {
                $(el).prepend('<div class="spinner-border"></div> ').attr('disabled', true);
            } else if (mode == 20) {
                setTimeout(function () {
                    $(el).removeAttr('disabled');
                    $(el).find('.spinner-border').remove();
                }, 500);
            } else if (mode == 3) {
                $(el).append(' <div class="spinner-border"></div>');
            } else if (mode == 30) {
                $(el).find('.spinner-border').remove();
            }
        }
    </script>
</head>

<body>

    <div class="join-panel">
        <div class="join-title mt-3">
            <p>CoachMate</p>
        </div>

        <div class="join-form">
            <div class="join-heading">
                <p>Join a panel</p>
            </div>
            <div style="width: 40vw; display: flex; justify-content: center;">
                <div id="ambiance">
                </div>
            </div>

            <div class="form">
                <div class="fullname mb-3 mt-3">
                    <div class="fname-input">
                        <input type="text" name="fname" id="fname" placeholder="First Name">
                    </div>
                    <div class="lname-input">
                        <input type="text" name="lname" id="lname" placeholder="Last Name">
                    </div>
                </div>
                <div class="email-input">
                    <input type="text" name="email" id="email" placeholder="Email">
                </div>
                <div class="join-button mt-5">
                    <button type="button" id="join_button" onclick="joinPanel()">Join the panel</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function isValidEmail(email) {
            return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
        }

        function joinPanel() {
            loading(2, el = '#join_button');
            let firstName = $('.join-form #fname').val().trim();
            let lastName = $('.join-form #lname').val().trim();
            let email = $('.join-form #email').val().trim().toLowerCase();
            let ambianceElement = $('.join-form #ambiance');

            if (!firstName || !lastName || !email) {
                loading(20, el = '#join_button');
                ambianceElement.html('Enter all required fields').addClass('show warning');
                setTimeout(function () {
                    ambianceElement.removeClass('show warning').html('');
                }, 100000);
                return;
            }

            if (!isValidEmail(email)) {
                ambianceElement.html('Invalid Email').addClass('invalid-email show');
                setTimeout(function () {
                    loading(20, el = '#join_button');
                    ambianceElement.removeClass('show invalid-email').html('');
                }, 2000);
                return;
            }

            $.ajax({
                method: 'post',
                url: '/auth/join-panel',
                data: {
                    firstName: firstName,
                    lastName: lastName,
                    email: email
                },
                success: function (res) {
                    let data = JSON.parse(res);
                    if (data.r == 1) {
                        ambianceElement.html('Success!').addClass('success');
                        setTimeout(function () {
                            ambianceElement.removeClass('show success error info too-many-requests').html('');
                            // You may want to redirect the user or perform other actions on success
                        }, 1000);
                    } else if (data.r == 3) {
                        ambianceElement.html('The panel is not available').addClass('too-many-requests');
                    }
                    loading(20, el = '#join_button');
                    ambianceElement.addClass('show');
                    setTimeout(function () {
                        ambianceElement.removeClass('show success error info too-many-requests').html('');
                    }, 3000);
                },
                error: function (err) {
                    loading(20, el = '#join_button');
                    console.log(err);
                }
            });
        }

    </script>
</body>

</html>