<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoachMate</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="shortcut icon" href="../public/images/welcome.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/common.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <script>
        function loading(mode, el = null) {
            if (mode == 1) {
                $(el).html('<img src="/public/images/preloader.svg" class="loader_overlay">');
            } else if (mode == 2) {
                $(el).prepend('<div class="spinner-border"></div> ').attr('disabled', true);
            } else if (mode == 20) {
                setTimeout(function () {
                    $(el).removeAttr('disabled');
                    $(el).find('.spinner-border').remove();
                }, 500);
            } else if (mode == 3) {
                $(el).append(' <div class="spinner-border"></div>');
            } else if (mode == 30) {
                $(el).find('.spinner-border').remove();
            }
        }
    </script>
</head>

<body>
    <div class="login_panel">
        <div class="auth">
            <div class="title">
                <p>CoachMate</p>
                <div class="title_line"></div>
            </div>


            <div class="switcher">
                <button id="signUpButton" class="active" onclick="showForm('signUp')">Sign Up</button>
                <button id="signInButton" onclick="showForm('signIn')">Sign In</button>
            </div>

            <div class="sign_in_form">
                <div class="sign_in_heading">
                    <p>Sign In</p>
                </div>
                <div id="ambiance">
                </div>
                <div class="form">
                    <div class="email">
                        <input type="text" autocomplete="off" name="email" id="email" placeholder="Email">
                    </div>
                    <div class="password">
                        <input type="password" autocomplete="off" name="password" id="password" placeholder="Password">
                        <div class="forgot">
                            <a href="#">Forgot a password ?</a>
                        </div>
                    </div>
                    <div class="login_btn_block">
                        <button type="button" id="login_btn" onclick="signIn()">Login</button>
                    </div>
                    <div class="continue">
                        <div class="continue_text">
                            <div class="text text_or">
                                <p>or</p>
                            </div>
                            <div class="text text_continue">
                                <p>continue with</p>
                            </div>
                        </div>
                        <div class="sign_in_buttons">
                            <div class="sign_in_btn google">
                                <a href="/auth/google_sign_in">
                                    <img src="../public/images/google_icon.png" alt="" width="30">
                                </a>
                            </div>
                            <div class="sign_in_btn apple">
                                <img src="../public/images/apple_icon.png" alt="" width="30">
                            </div>
                            <div class="sign_in_btn microsoft">
                                <img src="../public/images/microsoft_icon.png" alt="" width="30">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sign_up_form">
                <div class="sign_up_heading">
                    <p>Sign Up</p>
                </div>
                <div id="ambiance">
                </div>
                <div class="form">
                    <div class="email">
                        <input type="text" autocomplete="off" name="email" id="email" placeholder="Email">
                    </div>
                    <div class="password">
                        <input type="password" autocomplete="off" name="password" id="password" placeholder="Password">
                    </div>
                    <div class="rep_password">
                        <input type="password" autocomplete="off" name="rep_password" id="rep_password"
                            placeholder="Repeat password">
                    </div>
                    <div class="register_btn_block">
                        <button type="button" id="login_btn" onclick="signUp()">Sign Up</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="welcome_screen">
            <div class="welcome_img">
                <img src="../public/images/welcome.png" alt="" width="350px">
            </div>
            <div class="welcome_text">
                <p>Welcome back, please login to your account</p>
            </div>
        </div>
    </div>

    <script>
        function isValidEmail(email) {
            return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
        }

        function signIn() {
            loading(2, el = '#login_btn');
            let email = $('#email').val().trim().toLowerCase();
            let password = $('#password').val().trim();
            let ambianceElement = $('#ambiance');

            if (!email || !password) {
                loading(20, el = '#login_btn');
                ambianceElement.html('<p>Enter login data</p>').addClass('show warning');
                setTimeout(function () {
                    ambianceElement.removeClass('show warning').html('');
                }, 3000);
                return;
            }

            if (!isValidEmail(email)) {
                loading(20, el = '#login_btn');
                ambianceElement.html('<p>Invalid Email</p>').addClass('invalid-email show');
                setTimeout(function () {
                    ambianceElement.removeClass('show invalid-email').html('');
                }, 3000);
                return;
            }

            $.ajax({
                method: 'post',
                url: '/auth/sign-in',
                data: {
                    email: email,
                    password: password
                }, success: function (res) {
                    let data = JSON.parse(res);
                    if (data.r == 1) {
                        ambianceElement.html('<p>Success!</p>').addClass('success');
                        setTimeout(function () {
                            ambianceElement.removeClass('show success error info too-many-requests').html('');
                            window.location.href = '/';
                        }, 1000);
                    } else if (data.r == 0) {
                        ambianceElement.html('<p>Wrong Password</p>').addClass('error');
                    } else if (data.r == 2) {
                        ambianceElement.html('<p>User not found</p>').addClass('info');
                    } else if (data.r == 3) {
                        ambianceElement.html('<p>The panel is not available</p>').addClass('too-many-requests');
                    }
                    loading(20, el = '#login_btn');
                    ambianceElement.addClass('show');
                    setTimeout(function () {
                        ambianceElement.removeClass('show success error info too-many-requests').html('');
                    }, 3000);
                }, error: function (err) {
                    loading(20, el = '#login_btn');
                    console.log(err);
                }
            });
        }

        function showForm(formType) {
            var signUpButton = document.getElementById('signUpButton');
            var signInButton = document.getElementById('signInButton');
            var signUpForm = document.querySelector('.sign_up_form');
            var signInForm = document.querySelector('.sign_in_form');

            if (formType === 'signUp') {
                signUpButton.classList.add('active');
                signInButton.classList.remove('active');
                signUpForm.style.display = 'flex';
                signInForm.style.display = 'none';
            } else {
                signInButton.classList.add('active');
                signUpButton.classList.remove('active');
                signInForm.style.display = 'flex';
                signUpForm.style.display = 'none';
            }
        }
    </script>

</body>

</html>