<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <link rel="shortcut icon" href="../public/images/Favicon.png" type="image/x-icon">
    <%- include('./components/head.ejs.html') %>
       
</head>

<body>
    <header>

        <div class="logo d-flex align-items-center">
            <span class="material-symbols-outlined btn btn-light px-2 py-0 me-3 burger-menu" style="display: none;"
                onclick="toggleMenu()">
                menu
            </span>

            <a href="/"><img src="/public/images/CoachMate.png" alt=""></a>
        </div>
        <%- include('./components/profile_bar.ejs.html') %>
    </header>
    <main>
        <%- include('./components/nav_bar.ejs.html') %>
            <div class="members-page  d-flex flex-fill">
                <div class="search-join-content">
                    <div class="search-content">
                        <div class="content-head">
                            <h1>Members</h1>
                        </div>
                        <div class="divider"></div>
                        <div class="search-content-body mt-4">
                            <div class="search-search">
                                <label for="" class="form-label">Name</label>
                                <input type="text" onkeyup="searchByName(this)" class="form-control"
                                    placeholder="Search by name">
                                <br>
                                <label for="" class="form-label">Role</label>
                                <select class="form-select mt-1" onchange="showMembers()" id="roles">
                                    <option value="all">All</option>
                                    <option value="student">Student</option>
                                    <option value="admin">Admin</option>
                                    <option value="coach">Coach</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <% if (role=='admin' ) { %>
                        <div class="join-content">
                            <div class="content-head">
                                <h1>Requests</h1>
                            </div>
                            <div class="divider"></div>
                            <div class="join-content-body">
                                <div class="join_requests">
    
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
                <div class="members-content">
                    <div class="content-head mt-3">
                        <% if (role=='admin' ) { %>
                            <button type="button" class="btn btn-light" style="border: 1px solid rgb(148, 148, 148);">Export
                                Data CSV</button>
                            <button type="button" class="btn btn-primary" onclick="showAddMemberModal()">+ Add</button>
                            <% } %>
    
                    </div>
    
                    <div class="members-content-body">
                        <div class="members">
    
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <footer></footer>

    <!-- MODALS -->
    <div class="modal fade" id="create_member-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add new member</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Email</label>
                            <input type="email" id="email" class="form-control" />
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">First Name</label>
                            <input type="text" id="first_name" class="form-control" />
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Last Name</label>
                            <input type="text" id="last_name" class="form-control" />
                        </div>
                        <div class="mb-3 mt-3" id="pass" style="display: none;">
                            <label class="mb-2">Pass</label>
                            <select name="pass_id" id="pass_id" class="form-control"></select>
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Role</label>
                            <select name="role" class="form-select" id="role">
                                <option value="Student">Student</option>
                                <option value="Coach">Coach</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="add_member_btn" class="btn btn-primary px-md-4"
                        onclick="createMember()">Add</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit_member-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit member</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="mb-3 mt-3">
                            <label class="mb-2">First Name</label>
                            <input type="text" id="new_first_name" class="form-control" />
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Last Name</label>
                            <input type="text" id="new_last_name" class="form-control" />
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Phone Number</label>
                            <input type="text" id="new_phone_number" class="form-control" />
                        </div>
                        <div class="mb-3 mt-3" id="new_pass" style="display: none;">
                            <label class="mb-2">Pass</label>
                            <select name="pass_id" id="new_pass_id" class="form-control"></select>
                        </div>
                        <div class="mb-3 mt-3" id="new_pass_status_block" style="display: none;">
                            <label class="mb-2">Pass status</label>
                            <select name="pass_status" id="new_pass_status" class="form-control">
                                <option value="1">Active</option>
                                <option value="0">Expired</option>
                                <option value="2">Pending</option>
                            </select>
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Role</label>
                            <select name="role" class="form-select" id="new_role">
                                <option value="student">Student</option>
                                <option value="coach">Coach</option>
                                <option value="admin">Admin</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="edit_member_btn" class="btn btn-primary px-md-4"
                        onclick="editMember()">Edit</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete_member-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    You won't be able to revert this. Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" id="delete_member_btn" class="btn btn-danger px-md-4"
                        onclick="deleteMember()">Delete</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://s2.webapi.ai/chat-widget/uniq-chat.js"></script>

    <script>
        var ailabs_user_info = {
            'client': 'c10',
            'welcome_message': 'Welcome to the chat 👋',
            'popup_mode': 0, //0-off, 1-auto popup after 10 seconds for new users
            'input_comment': 'Type your message or /start to restart'
        };
        AILabsChatStart();
    </script>


    <!-- END OF MODALS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var globalMembers;
        var globalMemberId;
        var globalMemberIndex;
        var globalPasses;
        $(document).ready(async function () {
            loading(1);
            showMembers();
            getPasses();
            showRequests();

            $('#new_pass_id').on('change', function () {
                if ($(this).val() == '') {
                    $('#new_pass_status_block').hide();
                } else {
                    $('#new_pass_status_block').show();
                }
            });

            function togglePassSelect() {
                const addRoleSelect = $('#role');
                const editRoleSelect = $('#new_role');
                const passFieldAdd = $('#pass');
                const passFieldEdit = $('#new_pass');
                const passStatusFieldEdit = $('#new_pass_status_block');

                if (addRoleSelect.val().toLowerCase() == 'student') {
                    passFieldAdd.show();
                } else {
                    passFieldAdd.hide();
                }

                if (editRoleSelect.val().toLowerCase() == 'student') {
                    passFieldEdit.show();
                    passStatusFieldEdit.show();
                } else {
                    passFieldEdit.hide();
                    passStatusFieldEdit.hide();
                }
            }

            $('#role').on('change', togglePassSelect);
            $('#new_role').on('change', togglePassSelect);

            togglePassSelect();

            loading(0);
        });



        $(document).ready(function () {
            var currentUrl = window.location.pathname;

            $(".nav-bar ul li").each(function () {
                var listItem = $(this);
                var listItemLink = listItem.find("a");
                var listItemHref = listItemLink.attr("href");

                if (currentUrl === listItemHref) {
                    listItem.addClass("active");
                } else {
                    listItem.removeClass("active");
                }
            });
        });

        function getPasses() {
            $('#passes').html('');
            $.ajax({
                url: '/passes/get-all',
                method: 'post',
                dataType: 'json',
                success: function (data) {
                    globalPasses = data;
                }, error: function (err) {
                    globalPasses = [];
                    console.log(err);
                }
            });
        }

        async function showPasses() {
            var passes_data = globalPasses;
            var passHTML = '<option value="" selected="true">None</option>'
            passes_data.forEach((pass) => {
                passHTML += `<option value="${pass.pass_id}">${pass.pass_section}</option>`;
            });
            $('#pass_id').html(passHTML);
            $('#new_pass_id').html(passHTML);
        }

        function showMembers() {
            $('.members').html('');
            let roles = $('#roles').val().toLowerCase();
            $.ajax({
                url: '/users/get-all',
                method: 'get',
                data: { roles: roles },
                dataType: 'json',
                success: function (members_data) {
                    globalMembers = members_data;
                    if (!members_data.length) {
                        let no_members = `
                        <div class="no_members">No members</div>
                        `
                        $('.members').append(no_members);
                        return;
                    }
                    let i = 0;
                    members_data.forEach((member) => {
                        let profile_src = !member.profile_img ? "./public/images/user_avatar.png" : member.profile_img;

                        var memberHTML = `<div class="member"> 
                                <div class="member-img"> 
                                    <img src='${profile_src}' alt="" width="50" height="50">
                                </div>
                                <div class="member-info">
                                    <h3>${member.first_name} ${member.last_name == null ? '' : member.last_name}</h3>
                                    <div class="d-flex gap-2 align-items-center">
                                        <h6>${member.role.charAt(0).toUpperCase() + member.role.slice(1).toLowerCase()}</h6>
                                      ${member.role == 'student' ? `<span class="badge  ${member.pass_status == '1' ? 'bg-success' : (member.pass_status == '0' ? 'bg-danger' : (member.pass_status == '2' ? 'bg-warning' : 'bg-primary'))}">
                                            ${member.pass_status == '1' ? 'Paid' : (member.pass_status == '0' ? 'Expired' : (member.pass_status == '2' ? 'Pending' : 'No pass yet'))}
                                        </span>` : ''}  
                                    </div>
                                  
                                </div>
                                <button type="button" class="btn btn-light dropdown-toggle d-flex" data-bs-toggle="dropdown">
                                    <div class="more_icon d-flex">
                                    <span class="material-symbols-outlined" style="font-size: 25px; font-weight: 900;">
                                    more_horiz
                                    </span>
                                </div>
                                </button>
                                <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" onclick="showEditMemberModal('member-${i}')">Edit</a>
                                <a class="dropdown-item" href="#" onclick="showDeleteMemberModal('member-${i}')">Delete</a>
                                </div>
                            </div>`;
                        i++;
                        // Append the memberHTML to the "members" div
                        $('.members').append(memberHTML);

                    });
                    loading(0);

                }, error: function (err) {
                    console.log(err)
                }
            });
        }

        function showRequests() {
            $.ajax({
                url: '/joins/get-all', method: 'get', success: function (data) {
                    var requests_data = JSON.parse(data);
                    var requestsHTML = requests_data.length == 0 ? 'No requests' : '';
                    requests_data.forEach((request) => {
                        requestsHTML += `
                            <div class="join_request">
                                <h3>${request.first_name} ${request.last_name}</h3>
                                <p>${request.email}</p>
                                <div class="actions">
                                    <button class="btn btn-success" onclick="acceptRequest('${request.id}')">Accept</button>
                                    <button class="btn btn-danger" onclick="declineRequest('${request.id}')">Decline</button>
                                </div>
                            </div>
                        `;
                    });

                    $('.join_requests').html(requestsHTML);
                }, error: function (err) {
                    console.log(err)
                }
            });
        }

        function acceptRequest(id) {
            loading(2, el = '.btn-success');

            $.ajax({
                url: "/joins/accept",
                method: 'post',
                data: { request_id: id },
                success: function (r) {
                    console.log(r);
                    let data = JSON.parse(r);

                    Swal.fire({
                        icon: 'success',
                        title: 'Request Accepted!',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    setTimeout(() => {
                        window.location.reload();
                    }, 1600);
                },
                error: function (e) {
                    console.log(r);
                }
            });
        }

        function declineRequest(id) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, decline it!",
                cancelButtonText: "Cancel"
            }).then((result) => {
                if (result.isConfirmed) {
                    loading(2, el = '.btn-danger');
                    // User clicked "Yes"
                    $.ajax({
                        url: "/joins/decline",
                        method: 'post',
                        data: { request_id: id },
                        success: function (r) {
                            let data = JSON.parse(r);
                            Swal.fire({
                                icon: 'success',
                                title: 'Request Declined!',
                                showConfirmButton: false,
                                timer: 1500
                            });
                            setTimeout(() => {
                                window.location.reload();
                            }, 1600);
                        },
                        error: function (e) {
                            console.log(r);
                        }
                    });
                }
            });
        }

        function showAddMemberModal() {
            showPasses()
            $('#create_member-modal').modal('show');
        }

        function createMember() {
            let email = $('#email').val().trim();
            let first_name = $('#first_name').val().trim();
            let last_name = $('#last_name').val().trim();
            let role = $('#role').val();
            let pass_id = $('#pass_id').val();
            let pass_section = $('#pass_id option:selected').text();
            let passes_data = JSON.stringify(globalPasses.find((p) => p.pass_id == pass_id))
            let passed_data = passes_data ? passes_data : '';
            if ((!email || !role || !first_name || !last_name)) {
                $.ambiance({
                    message: "Please provide an email, full name and role for the member.",
                    type: "error",
                    fade: true,
                    width: 400
                });
                return;
            }
            loading(2, el = '#add_member_btn');
            $.ajax({
                url: "/users/create",
                method: 'post',
                data: { user_id: globalMemberId, email: email, first_name: first_name, last_name: last_name, role: role.toLowerCase(), pass: passed_data },
                success: function (r) {
                    let data = JSON.parse(r);


                    if (data.r == 1) {
                        $('#create_member-modal').modal('hide');
                        loading(20, el = '#add_member_btn');
                        $.ambiance({
                            message: `${role} added!`,
                            type: "success",
                            fade: true
                        });
                        loading(1);
                        showMembers();
                        loading(0);
                    } else if (data.r == 4) {
                        $.ambiance({
                            message: `Email address already in use`,
                            type: "error",
                            fade: true
                        });
                    } else if (data.r == 2) {
                        $.ambiance({
                            message: `Invalid email`,
                            type: "error",
                            fade: true
                        });
                    } else {
                        $.ambiance({
                            message: `Error. Try again later!`,
                            type: "error",
                            fade: true
                        });
                    }
                    loading(20, el = '#add_member_btn');

                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function showEditMemberModal(member_index) {
            let member_data = globalMembers[member_index.split('-')[1]];
            globalMemberId = member_data.id;
            globalMemberIndex = member_index
            showPasses()
            $('#new_first_name').val(member_data.first_name);
            $('#new_last_name').val(member_data.last_name);
            $('#new_pass_id').val(member_data.pass_id)
            $('#new_phone_number').val(member_data.phone_number);
            $('#new_role').val(member_data.role)

            if (member_data.role != 'student') {
                $('#new_pass_status_block').hide()
            } else {
                $('#new_pass_status_block').show()
            }


            if (member_data.role == 'student') {
                if (member_data.pass) {
                    let parsedPass = JSON.parse(member_data.pass);
                    if (parsedPass && parsedPass.pass_id) {
                        $('#new_pass_id').val(parsedPass.pass_id);
                    }
                    $('#new_pass_status').val(member_data.pass_status)
                }
            }

            if (member_data.pass == '') {
                $('#new_pass_status_block').hide();
            } else {
                $('#new_pass_status_block').show();
            }

            if (member_data.role.toLowerCase() == 'student') {
                $('#new_pass').show();
            } else {
                $('#new_pass').hide();
            }
            $('#edit_member-modal').modal('show');

        }

        function editMember() {
            let first_name = $('#new_first_name').val().trim();
            let last_name = $('#new_last_name').val().trim();
            let role = $('#new_role').val();
            let pass_id = $('#new_pass_id').val();
            let pass_section = $('#new_pass_id option:selected').val();
            let phone_number = $('#new_phone_number').val();
            let passes_data = JSON.stringify(globalPasses.find((p) => p.pass_id == pass_id))
            let passed_data = passes_data ? passes_data : '';
            let pass_status = $("#new_pass_status").val();


            if ((!role || !first_name || !last_name)) {
                $.ambiance({
                    message: "Please provide an full name and role for the member.",
                    type: "error",
                    fade: true,
                    width: 400
                });
                return;
            }

            if (role.toLowerCase() == 'student' && passed_data == '') {
                passed_data = '';
                pass_status = '';
            }

            loading(2, el = '#edit_member_btn');
            $.ajax({
                url: "/users/edit",
                method: 'post',
                data: { user_id: globalMemberId, first_name: first_name, last_name: last_name, role: role.toLowerCase(), phone_number: phone_number, pass: passed_data, pass_status: pass_status },
                success: function (r) {
                    let data = JSON.parse(r);
                    if (data.r == 1) {
                        $('#edit_member-modal').modal('hide');
                        loading(20, el = '#edit_member_btn');
                        $.ambiance({
                            message: `${role} updated!`,
                            type: "success",
                            fade: true
                        });
                        loading(1);
                        showMembers();
                        loading(0);
                    } else {
                        $.ambiance({
                            message: `Error. Try again later!`,
                            type: "error",
                            fade: true
                        });
                    }
                    loading(20, el = '#edit_member_btn');

                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function showDeleteMemberModal(member_index) {
            let member_data = globalMembers[member_index.split('-')[1]];
            globalMemberIndex = member_index;
            globalMemberId = member_data.id;
            $('#delete_member-modal').modal('show');
        }

        function deleteMember() {
            loading(2, el = '#delete_member_btn');
            $.ajax({
                url: "/users/delete",
                method: 'post',
                data: { user_id: globalMemberId },
                dataType: 'json',
                success: function (data) {
                    if (data.r == 1) {
                        $('#delete_member-modal').modal('hide');
                        loading(20, el = '#delete_member_btn');
                        $.ambiance({
                            message: `Deleted successfully`,
                            type: "success",
                            fade: true
                        });
                        loading(1);
                        showMembers();
                        loading(0);
                        $(`#${globalMemberIndex}`).remove();
                    } else {
                        $.ambiance({
                            message: `Error. Try again later!`,
                            type: "error",
                            fade: true
                        });
                    }
                    loading(20, el = '#delete_member_btn');

                },
                error: function (err) {
                    console.log(err);
                }
            });
        }



        function searchByName(ths) {

            let i = 0;
            let membersHTML = ''
            globalMembers.forEach((member) => {
                let profile_src = !member.profile_img ? "./public/images/user_avatar.png" : member.profile_img;
                if (member.first_name.includes(ths.value.trim()) || member.last_name.includes(ths.value.trim())) {
                    membersHTML += `<div class="member"> 
                                <div class="member-img"> 
                                    <img src='${profile_src}' alt="" width="50" height="50">
                                </div>
                                <div class="member-info">
                                    <h3>${member.first_name} ${member.last_name == null ? '' : member.last_name}</h3>
                                    <h6>${member.role.charAt(0).toUpperCase() + member.role.slice(1).toLowerCase()}</h6>
                                </div>
                                <% if (role=='admin' ) { %>
                                    <button type="button" class="btn btn-light dropdown-toggle d-flex" data-bs-toggle="dropdown">
                                        <div class="more_icon d-flex">
                                        <span class="material-symbols-outlined" style="font-size: 25px; font-weight: 900;">
                                        more_horiz
                                        </span>
                                    </div>
                                    </button>
                                    <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#" onclick="showEditMemberModal('member-${i}')">Edit</a>
                                    <a class="dropdown-item" href="#" onclick="showDeleteMemberModal('member-${i}')">Delete</a>
                                    </div>
                                <% } %>
                            </div>`;
                }

                i++;
            });
            if (!membersHTML) {
                membersHTML += `
                        <div class="no_members">No members</div>                        `
            }
            $('.members').html(membersHTML);
        }

    </script>
</body>

</html>