<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <link rel="shortcut icon" href="../public/images/Favicon.png" type="image/x-icon">
    <%- include('./components/head.ejs.html') %>

</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/public/images/CoachMate.png" alt=""></a>
        </div>
        <%- include('./components/profile_bar.ejs.html') %>
    </header>
    <main>
        <%- include('./components/nav_bar.ejs.html') %>
            <div class="search-join-content">
                <div class="search-content">
                    <div class="content-head">
                        <h1>Members</h1>
                    </div>
                    <div class="divider"></div>
                    <div class="search-content-body mt-4">
                        <div class="search-search">
                            <label for="" class="form-label">Name:</label>
                            <input type="text" class="form-control" placeholder="Search by name">
                            <select class="form-select mt-4">
                                <option>None</option>
                                <option>BJJ</option>
                                <option>Karate</option>
                                <option>Box</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="join-content">
                    <div class="content-head">
                        <h1>Requests</h1>
                    </div>
                    <div class="divider"></div>
                    <div class="join-content-body">
                        <div class="join_requests">

                        </div>
                    </div>

                </div>


            </div>
            <div class="members-content">
                <div class="content-head mt-3">
                    <button type="button" class="btn btn-light" style="border: 1px solid rgb(148, 148, 148);">Export
                        Data CSV</button>
                    <button type="button" class="btn btn-primary" onclick="showAddMemberModal()">+ Add</button>
                </div>

                <div class="members-content-body">
                    <div class="members">

                    </div>
                </div>
            </div>
    </main>
    <footer></footer>

    <!-- MODALS -->
    <div class="modal fade" id="create_member-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add new member</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Email</label>
                            <input type="email" id="email" class="form-control" />
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">First Name</label>
                            <input type="text" id="first_name" class="form-control" />
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Last Name</label>
                            <input type="text" id="last_name" class="form-control" />
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Role</label>
                            <select name="role" class="form-select" id="role">
                                <option value="Student">Student</option>
                                <option value="Coach">Coach</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="add_member_btn" class="btn btn-primary px-md-4"
                        onclick="createMember()">Add</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://s2.webapi.ai/chat-widget/uniq-chat.js"></script>

    <script>
        var ailabs_user_info = {
            'client': 'c10',
            'welcome_message': 'Welcome to the chat 👋',
            'popup_mode': 0, //0-off, 1-auto popup after 10 seconds for new users
            'input_comment': 'Type your message or /start to restart'
        };
        AILabsChatStart();
    </script>


    <!-- END OF MODALS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(async function () {
            loading(1);
            await showMembers();
            await showRequests();
            loading(0);
        });

        $('#profile-data').on('click', () => {
            $('.dropdown-content').slideToggle(300);
        });

        $(document).ready(function () {
            var currentUrl = window.location.pathname;

            $(".nav-bar ul li").each(function () {
                var listItem = $(this);
                var listItemLink = listItem.find("a");
                var listItemHref = listItemLink.attr("href");

                if (currentUrl === listItemHref) {
                    listItem.addClass("active");
                } else {
                    listItem.removeClass("active");
                }
            });
        });


        function showMembers() {
            $('.members').html('');
            $.ajax({
                url: '/users/get-all', method: 'get', success: function (data) {
                    var members_data = JSON.parse(data);
                    members_data.forEach((member) => {
                        let profile_src = !member.profile_img ? "./public/images/user_avatar.png" : member.profile_img;

                        var memberHTML = '<div class="member">' +
                            '<div class="member-img">' +
                            `<img src='${profile_src}' alt="" width="50" height="50">` +
                            '</div>' +
                            '<div class="member-info">' +
                            `<h3>${member.first_name} ${member.last_name}</h3>` +
                            `<h6>${member.role.charAt(0).toUpperCase() + member.role.slice(1).toLowerCase()}</h6>` +
                            '</div>' +
                            '<div class="member-edit">' +
                            '<span class="material-symbols-outlined" style="font-size: 50px; font-weight: 400;">stylus</span>' +
                            '</div>' +
                            '</div>';

                        // Append the memberHTML to the "members" div
                        $('.members').append(memberHTML);
                    });
                }, error: function (err) {
                    console.log(err)
                }
            });
        }

        function showRequests() {
            $.ajax({
                url: '/joins/get-all', method: 'get', success: function (data) {
                    var requests_data = JSON.parse(data);
                    requests_data.forEach((request) => {
                        var requestDiv = `
                            <div class="join_request">
                                <h3>${request.first_name} ${request.last_name}</h3>
                                <p>${request.email}</p>
                                <div class="actions">
                                    <button class="btn btn-success" onclick="acceptRequest('${request.id}')">Accept</button>
                                    <button class="btn btn-danger" onclick="declineRequest('${request.id}')">Decline</button>
                                </div>
                            </div>
                        `;
                        $('.join_requests').append(requestDiv);
                    });
                }, error: function (err) {
                    console.log(err)
                }
            })

        }

        function acceptRequest(id) {
            $.ajax({
                url: "/joins/accept",
                method: 'post',
                data: { request_id: id },
                success: function (r) {
                    console.log(r)
                },
                error: function (e) {
                    console.log(r)
                }
            });
        }

        function declineRequest(id) {
            $.ajax({
                url: "/joins/decline",
                method: 'post',
                data: { request_id: id },
                success: function (r) {
                    console.log(r);
                },
                error: function (e) {
                    console.log(r);
                }
            });
        }

        function showAddMemberModal() {
            $('#create_member-modal').modal('show');
        }

        function createMember() {
            let email = $('#email').val().trim();
            let first_name = $('#first_name').val().trim();
            let last_name = $('#last_name').val().trim();
            let role = $('#role').val();

            if ((!email || !role || !first_name || !last_name)) {
                $.ambiance({
                    message: "Please provide an email, full name and role for the member.",
                    type: "error",
                    fade: true,
                    width: 400
                });
                return;
            }
            loading(2, el = '#add_member_btn');
            $.ajax({
                url: "/users/create",
                method: 'post',
                data: { email: email, first_name: first_name, last_name: last_name, role: role.toLowerCase() },
                success: function (r) {
                    let data = JSON.parse(r);
                    if (data.r == 1) {
                        $('#create_member-modal').modal('hide');
                        loading(20, el = '#add_member_btn');
                        $.ambiance({
                            message: `${role} added!`,
                            type: "success",
                            fade: true
                        });
                        loading(1);
                        showMembers();
                        loading(0);
                    } else if (data.r == 4) {
                        $.ambiance({
                            message: `Email address already in use`,
                            type: "error",
                            fade: true
                        });
                    } else if (data.r == 2) {
                        $.ambiance({
                            message: `Invalid email`,
                            type: "error",
                            fade: true
                        });
                    } else {
                        $.ambiance({
                            message: `Error. Try again later!`,
                            type: "error",
                            fade: true
                        });
                    }
                    loading(20, el = '#add_member_btn');

                },
                error: function (err) {
                    console.log(err);
                }
            });
        }



    </script>
</body>

</html>