<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passes</title>
    <link rel="shortcut icon" href="../public/images/Favicon.png" type="image/x-icon">
    <%- include('./components/head.ejs.html') %>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/public/images/CoachMate.png" alt=""></a>
        </div>
        <%- include('./components/profile_bar.ejs.html') %>
    </header>
    <main>
        <%- include('./components/nav_bar.ejs.html') %>
            <div class="passes-content">
                <div class="passes-content-head">
                    <h1>Passes</h1>
                    <% if (role=='admin' ) { %>
                        <button data-bs-toggle="modal" onclick="showAddPassModal()" data-bs-target="#create_news-modal"
                            class="btn btn-primary d-flex pe-4 ps-4"><span class="material-symbols-outlined"
                                style="font-size: 25px; font-weight: 700;">add</span>Add</button>
                        <% } %>

                </div>
                <div class="divider"></div>
                <div class="passes-content-body mt-5 ms-3 me-3" id="passes">

                </div>
            </div>

            <div class="ad-content">

                <div class="hot-links">
                    <ul class="hot-links-list">

                    </ul>
                    <% if (role=='admin' ) { %>
                        <button type="button" onclick="showAddLinkModal()"><span class="material-symbols-outlined"
                                style="font-size: 25px; font-weight: 700;">add</span>New Link</button>
                        <% } %>

                </div>
            </div>
    </main>
    <footer></footer>

    <!-- MODALS -->
    <div class="modal fade" id="create_pass-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add new pass</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Section name</label>
                            <input type="text" id="pass_section" class="form-control" />
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Price</label>
                            <input type="text" id="pass_price" class="form-control" />
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Visits number</label>
                            <input type="text" id="pass_visits_number" class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="add_pass_btn" class="btn btn-primary px-md-4"
                        onclick="createPass()">Add</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit_pass-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit pass</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Section name</label>
                            <input type="text" id="new_pass_section" class="form-control" />
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Price</label>
                            <input type="text" id="new_pass_price" class="form-control" />
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Visits number</label>
                            <input type="text" id="new_pass_visits_number" class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="edit_pass_btn" class="btn btn-primary px-md-4"
                        onclick="editPass()">Edit</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete_pass-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    You won't be able to revert this. Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" id="delete_pass_btn" class="btn btn-danger px-md-4"
                        onclick="deletePass()">Delete</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="create_link-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Link</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Link text</label>
                            <input type="text" class="form-control" id="link_text" placeholder="Text">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Link URL</label>
                            <input type="text" class="form-control" id="link_url" placeholder="https://">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="add_link_btn" class="btn btn-primary px-md-4"
                        onclick="createLink()">Add</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete_link-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Link</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    You won't be able to revert this. Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" id="delete_link_btn" class="btn btn-danger px-md-4"
                        onclick="deleteLink()">Delete</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://s2.webapi.ai/chat-widget/uniq-chat.js"></script>

    <script>
        var ailabs_user_info = {
            'client': 'c10',
            'welcome_message': 'Welcome to the chat 👋',
            'popup_mode': 0, //0-off, 1-auto popup after 10 seconds for new users
            'input_comment': 'Type your message or /start to restart'
        };
        AILabsChatStart();
    </script>


    <!-- END OF MODALS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var globalPasses;
        var globalPassId;
        var globalPassIndex;
        $(document).ready(async function () {
            loading(1);
            showPasses();
            showLinks()
            loading(0);
        });

        $(document).ready(function () {
            var currentUrl = window.location.pathname;

            $(".nav-bar ul li").each(function () {
                var listItem = $(this);
                var listItemLink = listItem.find("a");
                var listItemHref = listItemLink.attr("href");

                if (currentUrl === listItemHref) {
                    listItem.addClass("active");
                } else {
                    listItem.removeClass("active");
                }
            });
        });

        function showAddLinkModal() {
            $('#create_link-modal').modal('show');
        }

        function showLinks() {
            $(".hot-links-list").html('');
            $.ajax({
                url: '/links/get-all', method: 'get', success: function (data) {
                    var links_data = JSON.parse(data);
                    console.log(links_data)
                    if (!links_data.length) {
                        var no_links = `<div class="no_links">No links yet</div>`
                        $(".hot-links-list").append(no_links);
                        return;
                    }
                    links_data.forEach((link) => {
                        var list = `<li class="d-flex align-items-center justify-content-between"><a href="${link.link_url}" target="_blank">${link.link_text}</a><span class="material-symbols-outlined" onclick="showDeleteLinkModal('${link.link_id}')">delete</span></li>`;
                        $(".hot-links-list").append(list);
                    });
                }, error: function (err) {
                    console.log(err);
                }
            });
        }

        function createLink() {
            let link_url = $('#link_url').val().trim();
            let link_text = $('#link_text').val().trim();

            if (!(link_text && link_url)) {
                $.ambiance({
                    message: "Please provide link text and link URL.",
                    type: "error",
                    fade: true,
                    width: 400
                });
                return;
            }

            loading(2, el = '#add_link_btn');

            $.ajax({
                url: "/links/create", method: 'post', data: { link_text: link_text, link_url: link_url }, success: function (r) {
                    showLinks();
                    $('#link_url').val('');
                    $('#link_text').val('');
                    $('#create_link-modal').modal('hide');
                    loading(20, el = '#add_link_btn');
                    $.ambiance({
                        message: "Link added!",
                        type: "success",
                        fade: true
                    });
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function showDeleteLinkModal(link_id) {
            $('#delete_link-modal').modal('show');
            globalLinkId = link_id;
        }

        function deleteLink() {
            loading(2, el = '#delete_link_btn');
            $.ajax({
                url: '/links/delete',
                method: 'POST',
                data: { link_id: globalLinkId },
                dataType: 'json',
                success: function (res) {
                    if (res.r) {
                        $.ambiance({
                            message: "Link deleted!",
                            type: "success",
                            fade: true
                        });
                    }
                    $('#delete_link-modal').modal('hide');
                    loading(20, el = '#delete_link_btn');
                    showLinks();
                }
            });
        }

        function showPasses() {
            $('#passes').html('');
            $.ajax({
                url: '/passes/get-all',
                method: 'post',
                dataType: 'json',
                success: function (data) {
                    globalPasses = data;
                    var passes_data = data;
                    console.log(data);
                    if (!passes_data.length) {
                        var no_passes = `<div class="no-passes alert alert-secondary w-100">No passes yet</div>`
                        $('#passes').html(no_passes);
                        return;
                    }
                    let i = 0;
                    passes_data.forEach((pass) => {
                        passesHTML = `<div class="pass-card me-4 ms-4" id="p-${i}">
                    <div class="pass-section pe-1">
                        <p>${pass.pass_section}</p>
                    </div>
                    <div class="pass-price">
                        <p>${pass.pass_price}₸</p>
                    </div>
                    <div class="pass-visits-number">
                        <p>Количество посещений: ${pass.pass_visits_number}</p>
                    </div>
                    <button type="button" class="btn btn-light dropdown-toggle d-flex" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="more_icon d-flex">
                            <span class="material-symbols-outlined" style="font-size: 25px; font-weight: 900;">
                            more_vert
                            </span>
                        </div>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" onclick="showEditPassModal('p-${i}')">Edit</a>
                        <a class="dropdown-item" href="#" onclick="showDeletePassModal('p-${i}')">Delete</a>
                    </div>

                </div>`;
                        i++;
                        $('#passes').append(passesHTML);
                    });
                }, error: function (err) {
                    console.log(err);
                }
            });
        }

        function showAddPassModal() {
            $('#create_pass-modal').modal('show');
        }

        function createPass() {
            let pass_section = $('#pass_section').val().trim();
            let pass_price = $('#pass_price').val().trim();
            let pass_visits_number = $('#pass_visits_number').val().trim();

            if(!(pass_section && pass_price && pass_visits_number)) {
                $.ambiance({
                    message: "Please fill in all fields.",
                    type: "error",
                    fade: true,
                    width: 400
                });
                return;
            }

            loading(2, el = '#add_pass_btn');

            $.ajax({
                url: '/passes/create', 
                method: 'post', 
                data: {
                    pass_section: pass_section,
                    pass_price: pass_price,
                    pass_visits_number: pass_visits_number
                },
                success: function(r) {
                    showPasses();
                    $('#pass_section').val('');
                    $('#pass_price').val('');
                    $('#pass_visits_number').val('');
                    $('#create_pass-modal').modal('hide');
                    loading(20, el = '#add_pass_btn');
                    $.ambiance({
                        message: "Pass added!",
                        type: "success",
                        fade: true
                    });
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }

        function showEditPassModal(pass_index) {
            let pass_data = globalPasses[pass_index.split('-')[1]];
            globalPassId = pass_data.pass_id;
            globalPassIndex = pass_index
            $('#new_pass_section').val(pass_data.pass_section);
            $('#new_pass_price').val(pass_data.pass_price);
            $('#new_pass_visits_number').val(pass_data.pass_visits_number);
            $('#edit_pass-modal').modal('show');
        }

        function editPass() {
            let pass_section = $('#new_pass_section').val().trim();
            let pass_price = $('#new_pass_price').val().trim();
            let pass_visits_number = $('#new_pass_visits_number').val().trim();

            if((!pass_section || !pass_price || !pass_visits_number)) {
                $.ambiance({
                    message: "Please fill in all fields.",
                    type: "error",
                    fade: true,
                    width: 400
                });
                return;
            }
            loading(2, el = '#edit_pass_btn');
            $.ajax({
                url: '/passes/edit',
                method: 'post',
                data: {
                    pass_id: globalPassId,
                    pass_section: pass_section,
                    pass_price: pass_price,
                    pass_visits_number: pass_visits_number
                },
                dataType: 'json',
                success: function(res) {
                    if (res.r == 1) {
                        loading(20, el = '#edit_pass_btn');
                        $.ambiance({
                            message: `Updated successfully!`,
                            type: "success",
                            fade: true
                        });
                        loading(1);
                        showPasses();
                        loading(0);
                    }  else {
                        $.ambiance({
                            message: `Error. Try again later!`,
                            type: "error",
                            fade: true
                        });
                    }
                    $('#edit_pass-modal').modal('hide');
                    loading(20, el = '#edit_pass_btn');

                },
                error: function(err) {
                    console.log(err);
                }
            });
        }

        function showDeletePassModal(pass_index) {
            let pass_data = globalPasses[pass_index.split('-')[1]];
            console.log(pass_data);
            globalPassIndex = pass_index;
            globalPassId = pass_data.pass_id;
            $('#delete_pass-modal').modal('show');
        }


        function deletePass() {
            loading(2, el = '#delete_pass_btn');
            $.ajax({
                url: "/passes/delete",
                method: 'post',
                data: { pass_id: globalPassId },
                dataType: 'json',
                success: function (data) {
                    if (data.r == 1) {
                        loading(20, el = '#delete_pass_btn');
                        $.ambiance({
                            message: `Deleted successfully`,
                            type: "success",
                            fade: true
                        });
                        $(`#${globalPassIndex}`).remove();
                    }  else {
                        $.ambiance({
                            message: `Error. Try again later!`,
                            type: "error",
                            fade: true
                        });
                    }
                    $('#delete_pass-modal').modal('hide');
                    loading(20, el = '#delete_pass_btn');

                },
                error: function (err) {
                    console.log(err);
                }
            });
        }


    </script>
</body>

</html>