<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <link rel="shortcut icon" href="../public/images/Favicon.png" type="image/x-icon">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.2.0/main.min.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.3.0/main.min.css'>
    <%- include('./components/head.ejs.html') %>
        <style>
            
        </style>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/public/images/CoachMate.png" alt=""></a>
        </div>
        <%- include('./components/profile_bar.ejs.html') %>
    </header>
    <main>
        <%- include('./components/nav_bar.ejs.html') %>
            <div class="calendar-content">
                <div id='calendar'>
                    <div class="container">
                        <div class="left">
                            <div class="calendar">
                                <div class="month">
                                    <i class="fas fa-angle-left prev"></i>
                                    <div class="date">december 2015</div>
                                    <i class="fas fa-angle-right next"></i>
                                </div>
                                <div class="weekdays">
                                    <div>Sun</div>
                                    <div>Mon</div>
                                    <div>Tue</div>
                                    <div>Wed</div>
                                    <div>Thu</div>
                                    <div>Fri</div>
                                    <div>Sat</div>
                                </div>
                                <div class="days"></div>
                                <div class="goto-today">
                                    <div class="goto">
                                        <input type="text" placeholder="mm/yyyy" class="date-input" />
                                        <button class="goto-btn">Go</button>
                                    </div>
                                    <button class="today-btn">Today</button>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="today-date">
                                <div class="event-day">wed</div>
                                <div class="event-date">12th december 2022</div>
                            </div>
                            <div class="events"></div>
                            <div class="actions">
                                <button class="btn btn-primary" onclick="showAddEventModal()">Add Event</button>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Delete Modal -->
                <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog"
                    aria-labelledby="delete-modal-title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="delete-modal-title">Confirm Deletion</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center" id="delete-modal-body">
                                Are you sure you want to delete the event?
                            </div>
                            <div class="modal-footer border-0">
                                <button type="button" class="btn btn-secondary rounded-sm" data-dismiss="modal"
                                    id="cancel-button">Cancel</button>
                                <button type="button" class="btn btn-danger rounded-lg"
                                    id="delete-button">Delete</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

    </main>
    <footer></footer>

    <!-- MODALS -->
    <div class="modal fade" id="add_event-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Event</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Repetition</label>
                            <select id="repetition" class="form-control">
                                <option disabled="true" selected="" value="">Choose</option>
                                <option value="single">Single</option>
                                <option value="repeat">Repeat</option>
                            </select>
                        </div>
                        <div class="mb-3 mt-3 hidden" id="event_name-block">
                            <label class="mb-2">Event Name</label>
                            <input type="text" id="event_name" class="form-control" placeholder="Karate" required />
                        </div>
                        <div class="mb-3 mt-3 hidden" id="event_type-block">
                            <label class="mb-2">Event type</label>
                            <select id="event_type" class="form-control">
                                <option disabled="true" selected="" value="">Choose</option>
                                <option value="jiu_jitsu">jiu jitsu</option>
                                <option value="karate">karate</option>
                                <option value="box">box</option>
                            </select>
                        </div>
                        <div class="mb-3 mt-3 hidden" id="event_date-block">
                            <label class="mb-2">Event date</label>
                            <input type="date" class="form-control" id="event_date">
                        </div>
                        <div class="mb-3 mt-3 hidden" id="week_day-block">
                            <label class="mb-2">Week day</label>
                            <select id="week_day" class="form-control">
                                <option disabled="true" selected="" value="">Choose</option>
                                <option value="monday">Monday</option>
                                <option value="tuesday">Tuesday</option>
                                <option value="wednesday">Wednesday</option>
                                <option value="thursday">Thursday</option>
                                <option value="friday">Friday</option>
                                <option value="saturday">Saturday</option>
                                <option value="sunday">Sunday</option>
                            </select>

                        </div>
                        <div class="mb-3 mt-3 hidden" id="time-block">
                            <label class="mb-2">Time</label>
                            <input type="time" id="time" class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="add_member_btn" class="btn btn-primary px-md-4"
                        onclick="addEvent()">Add</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- END OF MODALS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        var events = [];
        $(document).ready(async function () {
            var currentUrl = window.location.pathname;

            $(".nav-bar ul li").each(function () {
                var listItem = $(this);
                var listItemLink = listItem.find("a");
                var listItemHref = listItemLink.attr("href");

                if (currentUrl === listItemHref) {
                    listItem.addClass("active");
                } else {
                    listItem.removeClass("active");
                }
            });
            loading(1);
            getEvents();
            initCalendar();
            loading(0);
        });


        function showAddEventModal() {
            $('#add_event-modal').modal('show');
        }

        function addEvent() {
            let repetition = $("#repetition").val();
            let event_name = $("#event_name").val();
            let event_type = $("#event_type").val();
            let time = $("#time").val();
            let event_date = $("#event_date").val();
            let week_day = $("#week_day").val();
            (repetition == 'single') ? week_day = null : event_date = null;
            if (repetition && event_name && event_type && time && (event_date || week_day)) {
                $.ajax({
                    type: "POST",
                    url: "/schedule/create",
                    data: {
                        repetition: repetition,
                        event_name: event_name,
                        event_type: event_type,
                        time: time,
                        event_date: event_date,
                        week_day: week_day
                    },
                    success: function (r) {
                        console.log(r)
                        $("#repetition").val('');
                        $("#event_name").val('');
                        $("#event_type").val('');
                        $("#time").val('');
                        $("#event_date").val('');
                        $("#week_day").val('');
                    },
                    error: function (error) {

                        console.error("Error:", error);
                    }
                });
            } else {
                console.error("Please fill in all fields before submitting.");
            }


        }

        function getEvents(){
            $.ajax({
                url: 'schedule/get',
                method: 'GET',
                success: function (data){
                    events = data;
                },
                error: function(e){
                    console.log(e)

                }

            })
        }

        $("#repetition").on('change', (() => {
            let repetition = $('#repetition').val();
            console.log(repetition)
            if (repetition == 'single') {
                $('#event_date-block').show();
                $('#week_day-block').hide();
            } else {
                $('#week_day-block').show();
                $('#event_date-block').hide();
            }
            $('#time-block').show();
            $('#event_type-block').show();
            $('#event_name-block').show();
        }));
        
    </script>
      <script src="/public/js/calendar.js"></script>
</body>

</html>