<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <link rel="shortcut icon" href="../public/images/Favicon.png" type="image/x-icon">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.2.0/main.min.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.3.0/main.min.css'>
    <%- include('./components/head.ejs.html') %>
        <style>
            .prev_month_btn,
            .next_month_btn {
                transition: 0.3s;
                font-size: 30px;
                cursor: pointer;
            }

            .prev_month_btn:hover,
            .next_month_btn:hover {
                color: black;

            }
        </style>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/public/images/CoachMate.png" alt=""></a>
        </div>
        <%- include('./components/profile_bar.ejs.html') %>
    </header>
    <main>
        <%- include('./components/nav_bar.ejs.html') %>
            <div class="calendar-content">
                <div id='calendar'>
                    <div class="container">
                        <div class="left">
                            <div class="calendar">
                                <div class="month">
                                    <div class="material-symbols-outlined prev_month_btn"
                                        style="transform: rotate(180deg);" onclick="prevMonth(1)">arrow_forward_ios
                                    </div>
                                    <div class="date"></div>
                                    <div class="material-symbols-outlined next_month_btn" onclick="nextMonth(1)">
                                        arrow_forward_ios</div>
                                </div>
                                <div class="weekdays">
                                    <div>Sun</div>
                                    <div>Mon</div>
                                    <div>Tue</div>
                                    <div>Wed</div>
                                    <div>Thu</div>
                                    <div>Fri</div>
                                    <div>Sat</div>
                                </div>
                                <div class="days"></div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="today-date">
                                <div class="event-day">wed</div>
                                <div class="event-date">12th december 2022</div>
                            </div>
                            <div class="events">

                            </div>
                            <div class="actions">
                                <button class="btn btn-primary" onclick="showAddEventModal()">Add Event</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

    </main>
    <footer></footer>

    <!-- MODALS -->
    <div class="modal fade" id="add_event-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Event</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Repetition</label>
                            <select id="repetition" class="form-control">
                                <option disabled="true" selected="" value="">Choose</option>
                                <option value="single">Single</option>
                                <option value="repeat">Repeat</option>
                            </select>
                        </div>
                        <div class="mb-3 mt-3 hidden" id="event_name-block">
                            <label class="mb-2">Event name</label>
                            <input type="text" id="event_name" class="form-control" placeholder="Karate" required />
                        </div>
                        <div class="mb-3 mt-3 hidden" id="coach_name-block">
                            <label class="mb-2">Coach name</label>
                            <select name="coach_id" id="coach_id" class="form-control"></select>
                        </div>

                        <div class="mb-3 mt-3 hidden" id="event_date-block">
                            <label class="mb-2">Event date</label>
                            <input type="date" class="form-control" id="event_date">
                        </div>
                        <div class="mb-3 mt-3 hidden" id="week_day-block">
                            <label class="mb-2">Week day</label>
                            <select id="week_day" class="form-control">
                                <option disabled="true" selected="" value="">Choose</option>
                                <option value="monday">Monday</option>
                                <option value="tuesday">Tuesday</option>
                                <option value="wednesday">Wednesday</option>
                                <option value="thursday">Thursday</option>
                                <option value="friday">Friday</option>
                                <option value="saturday">Saturday</option>
                                <option value="sunday">Sunday</option>
                            </select>

                        </div>
                        <div class="mb-3 mt-3 hidden" id="time-block">
                            <label class="mb-2">Time</label>
                            <input type="time" id="time" class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="add_event_btn" class="btn btn-primary px-md-4"
                        onclick="addEvent()">Add</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-title"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-modal-title">Confirm Deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center" id="delete-modal-body">
                    Are you sure you want to delete the event?
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary rounded-sm" data-dismiss="modal"
                        id="cancel-button">Cancel</button>
                    <button type="button" class="btn btn-danger rounded-lg" id="delete-button">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="conduct_event-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Conduct Event</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea name="" class="form-control" id="event_description" cols="30" rows="4"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Members</label>
                        <div id="new_event_members" class="d-flex flex-column gap-3">
                            <!-- <div class="d-flex justify-content-between flex-fill" id="new_member-0">
                                <p>Student Name</p>
                                <div class="d-flex gap-2">
                                    <label for="">Present</label>
                                    <label for="">Absent</label>
                                </div>
                            </div> -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col" class="text-center">Present</th>
                                        <th scope="col" class="text-center">Absent</th>
                                    </tr>
                                </thead>
                                <tbody id="event_members">

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="conduct_event_btn" class="btn btn-primary px-md-4"
                        onclick="conductEvent()">Save</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- END OF MODALS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <script>

        var globalEventIndex;
        var globalEventId;
        var globalEvents;
        var globalLinkId;
        var globalUsers;
        $(document).ready(async function () {
            var currentUrl = window.location.pathname;

            $(".nav-bar ul li").each(function () {
                var listItem = $(this);
                var listItemLink = listItem.find("a");
                var listItemHref = listItemLink.attr("href");

                if (currentUrl === listItemHref) {
                    listItem.addClass("active");
                } else {
                    listItem.removeClass("active");
                }
            });

            $("#repetition").on('change', (() => {
                let repetition = $('#repetition').val();
                console.log(repetition)
                if (repetition == 'single') {
                    $('#event_date-block').show();
                    $('#week_day-block').hide();
                } else {
                    $('#week_day-block').show();
                    $('#event_date-block').hide();
                }
                $('#time-block').show();
                $('#event_name-block').show();
                $('#coach_name-block').show();
            }));

            loading(1);
            getEvents();

            getStudents();
            loading(0);
        });


        function showAddEventModal() {
            getCoaches();
            $('#add_event-modal').modal('show');
        }

        function addEvent() {
            loading(2, el = "#add_event_btn");
            let repetition = $("#repetition").val();
            let event_name = $("#event_name").val();
            let time = $("#time").val();
            let event_date = $("#event_date").val();
            let week_day = $("#week_day").val();
            let coach_id = $('#coach_id').val();
            let coach_name = $('#coach_id option:selected').text();

            (repetition == 'single') ? week_day = null : event_date = null;

            if (event_name.length > 25) {
                $.ambiance({
                    message: 'Event name must be 25 characters or less.',
                    type: 'error',
                    fade: true,
                    width: 400
                });
                return loading(20, el = "#add_event_btn");
            }

            if (coach_id && repetition && event_name && time && (event_date || week_day)) {
                $.ajax({
                    type: "POST",
                    url: "/events/create",
                    data: {
                        repetition: repetition,
                        event_name: event_name,
                        time: time,
                        event_date: event_date,
                        week_day: week_day,
                        coach_id: coach_id,
                        coach_name: coach_name
                    },
                    success: function (r) {
                        $('#add_event-modal').modal('hide');
                        $("#repetition").val('');
                        $("#event_name").val('');
                        $("#time").val('');
                        $("#event_date").val('');
                        $("#week_day").val('');
                        $("#coach_id").val('');
                        $.ambiance({
                            message: "Event added successfully!",
                            type: "success",
                            fade: true,
                            width: 400
                        });
                        return loading(20, el = "#add_event_btn");;
                    },
                    error: function (error) {
                        console.error("Error:", error);
                        $.ambiance({
                            message: 'Error adding event. Please try again.',
                            type: 'error',
                            fade: true,
                            width: 400
                        });
                        return loading(20, el = "#add_event_btn");;
                    }
                });
            } else {
                $.ambiance({
                    message: 'Please fill in all fields!',
                    type: 'error',
                    fade: true,
                    width: 400
                });
                return loading(20, el = "#add_event_btn");;
            }
        }

        function getEvents() {
            $.ajax({
                url: 'events/get',
                method: 'GET',
                success: function (data) {
                    globalEvents = data;
                    initCalendar();
                },
                error: function (e) {
                    console.log(e)
                }
            });
        }

        function getCoaches() {
            $.ajax({
                url: '/users/get-all',
                method: 'get',
                data: { roles: 'coach' },
                dataType: 'json',
                success: function (coaches_data) {
                    console.log(coaches_data)
                    if (!coaches_data.length) {
                        let no_members = `
                        <div class="no_members">No members</div>
                        `
                        $('.members').append(no_members);
                        return;
                    }
                    var coachHTML = '<option value="none" disabled selected="true">None</option>'
                    coaches_data.forEach((coach) => {
                        coachHTML += `<option value="${coach.id}">${coach.first_name} ${coach.last_name}</option>`;
                    });
                    $('#coach_id').html(coachHTML);
                }, error: function (err) {
                    console.log(err);
                }
            });
        }

        function getStudents() {
            $.ajax({
                url: '/users/get-all',
                method: 'get',
                data: { roles: 'student' },
                dataType: 'json',
                success: function (students_data) {
                    globalUsers = students_data
                }, error: function (err) {
                    console.log(err);
                }
            });
        }

        function showConductEventModal(event_index) {
            globalEventIndex = event_index;
            globalEventId = globalEvents[event_index.split('-')[1]].event_id;

            showMembers();
            $('#conduct_event-modal').modal('show');
        }

        function showMembers() {
            var members = JSON.parse(globalEvents[globalEventIndex.split('-')[1]].members);

            var membersHTML = '';
            var i = 0;
            members.forEach((m) => {
                membersHTML += `
                <tr>
                    <th scope="row">${i + 1}</th>
                    <td>${m.first_name} ${m.last_name}</td>
                    <td class="text-center"> <input type="radio" class="form-check-input member-${i}-status" name="member-${i}-status"
                            value="1"></td>
                    <td class="text-center"> <input type="radio" class="form-check-input member-${i}-status" name="member-${i}-status"
                            value="0"></td>
                </tr>
                `
                i++;
            });
            if (!members.length) membersHTML = '<div class="alert alert-light">No members.</div>'
            $('#event_members').html(membersHTML);
        }

        function conductEvent() {
            loading(2, el = "#conduct_event_btn")
            var description = $("#event_description").val().trim();
            var members_data = JSON.parse(globalEvents[globalEventIndex.split('-')[1]].members);
            let i = 0;

            members_data.forEach((m) => {
                var member_status = Number($('input[name="member-' + i + '-status"]:checked').val());
                if (!member_status) {
                    return
                }
                m.status = member_status;
                i++;
            });
     
            if (i != members_data.length ) {
                loading(20, el="#conduct_event_btn");
                return $.ambiance({
                    message: 'Please fill in all fields!',
                    type: 'error',
                    fade: true,
                    width: 400
                });
            }
            globalEvents[globalEventIndex.split('-')[1]].members = JSON.stringify(members_data);
            var eventData = globalEvents[globalEventIndex.split('-')[1]]
            $.ajax({
                url: '/schedule/conduct',
                method: "POST",
                data: {
                    description: description,
                    repetition: eventData.repetition,
                    event_name: eventData.event_name,
                    time: eventData.time,
                    event_date: eventData.event_date,
                    week_day: eventData.week_day,
                    coach_id: eventData.coach_id,
                    coach_name: eventData.coach_name,
                    members: JSON.stringify(members_data),
                    event_id: eventData.event_id
                },
                dataType: 'json',
                success: function(res){
                    if(res.r){
                        $.ambiance({
                            message: "Event conducted!",
                            type: "success",
                            fade: true,
                            width: 400
                        });
                    }
                    loading(20, el="#conduct_event_btn");
                    return  $('#conduct_event-modal').modal('hide');
                }
            })

        }

        function showRescheduleEventModal() {
            $('#reschedule_event-modal').modal('show');
        }

        function showCancelEventModal() {
            $('#cancel_event-modal').modal('show');
        }



    </script>
    <script src="/public/js/calendar.js"></script>
</body>

</html>