<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=L('sch1', language, 'Schedule' ) %>
    </title>
    <link rel="shortcut icon" href="../public/images/Favicon.png" type="image/x-icon">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.2.0/main.min.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.3.0/main.min.css'>
    <%- include('./components/head.ejs.html') %>
        <style>
            .prev_month_btn,
            .next_month_btn {
                transition: 0.3s;
                font-size: 30px;
                cursor: pointer;
            }

            .prev_month_btn:hover,
            .next_month_btn:hover {
                color: black;

            }

            @media (max-width: 1280px) {
                main {
                    flex-wrap: nowrap !important;
                }
            }

           
        </style>
</head>

<body>
    <header>

        <div class="logo d-flex align-items-center">
            <span class="material-symbols-outlined btn btn-light px-2 py-0 me-3 burger-menu" style="display: none;"
                onclick="toggleMenu()">
                menu
            </span>

            <a href="/"><img src="/public/images/CoachMate.png" alt=""></a>
        </div>
        <%- include('./components/profile_bar.ejs.html') %>
    </header>
    <main>
        <%- include('./components/nav_bar.ejs.html') %>
            <div class="calendar-content">
                <div id='calendar'>
                    <div class="container">
                        <div class="left">
                            <div class="calendar">
                                <div class="month">
                                    <div class="material-symbols-outlined prev_month_btn"
                                        style="transform: rotate(180deg);" onclick="prevMonth(1)">arrow_forward_ios
                                    </div>
                                    <div class="date"></div>
                                    <div class="material-symbols-outlined next_month_btn" onclick="nextMonth(1)">
                                        arrow_forward_ios</div>
                                </div>
                                <div class="weekdays">
                                    <div>
                                        <%=L('sch2', language, 'Sun' ) %>
                                    </div>
                                    <div>
                                        <%=L('sch3', language, 'Mon' ) %>
                                    </div>
                                    <div>
                                        <%=L('sch4', language, 'Tue' ) %>
                                    </div>
                                    <div>
                                        <%=L('sch5', language, 'Wed' ) %>
                                    </div>
                                    <div>
                                        <%=L('sch6', language, 'Thu' ) %>
                                    </div>
                                    <div>
                                        <%=L('sch7', language, 'Fri' ) %>
                                    </div>
                                    <div>
                                        <%=L('sch8', language, 'Sat' ) %>
                                    </div>
                                </div>
                                <div class="days"></div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="today-date">
                                <div class="event-day">wed</div>
                                <div class="event-date"></div>
                            </div>
                            <div class="events">

                            </div>
                            
                        </div>
                    </div>
                </div>


            </div>

    </main>
    <footer></footer>


    <div class="modal fade" id="cancel_event-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-modal-title">
                        <%=L('sch10', language, 'Cancel Event' ) %>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 mt-3">
                        <label for="cancel_reason">
                            <%=L('sch11', language, 'Reason (Optional)' ) %>:
                        </label>
                        <textarea name="" class="form-control" id="cancel_reason" cols="30" rows="4"></textarea>
                    </div>
                </div>

                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-danger rounded-sm" data-dismiss="modal" id="cancel_event_btn"
                        onclick="cancelEvent()">
                        <%=L('sch10', language, 'Cancel Event' ) %>
                    </button>
                    <button type="button" class="btn btn-secondaryrounded-lg" data-bs-dismiss="modal">
                        <%=L('sch12', language, 'Back' ) %>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="conduct_event-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <%=L('sch13', language, 'Conduct Event' ) %>
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">
                            <%=L('sch14', language, 'Description' ) %>
                        </label>
                        <textarea name="" class="form-control" id="event_description" cols="30" rows="4"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            <%=L('sch15', language, 'Members' ) %>
                        </label>
                        <div class="d-flex flex-column gap-3">
                            <!-- <div class="d-flex justify-content-between flex-fill" id="new_member-0">
                                <p>Student Name</p>
                                <div class="d-flex gap-2">
                                    <label for="">Present</label>
                                    <label for="">Absent</label>
                                </div>
                            </div> -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">
                                            <%=L('sch16', language, 'Name' ) %>
                                        </th>
                                        <th scope="col" class="text-center">
                                            <%=L('sch17', language, 'Present' ) %>
                                        </th>
                                        <th scope="col" class="text-center">
                                            <%=L('sch18', language, 'Absent' ) %>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="event_members">

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="conduct_event_btn" class="btn btn-primary px-md-4"
                        onclick="conductEvent()">
                        <%=L('sch19', language, 'Save' ) %>
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        <%=L('sch20', language, 'Close' ) %>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit_event-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <%=L('sch21', language, 'Edit Event' ) %>
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">
                            <%=L('sch14', language, 'Description' ) %>
                        </label>
                        <textarea name="" class="form-control" id="new_event_description" cols="30" rows="4"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            <%=L('sch15', language, 'Members' ) %>
                        </label>
                        <div class="d-flex flex-column gap-3">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">
                                            <%=L('sch16', language, 'Name' ) %>
                                        </th>
                                        <th scope="col" class="text-center">
                                            <%=L('sch17', language, 'Present' ) %>
                                        </th>
                                        <th scope="col" class="text-center">
                                            <%=L('sch18', language, 'Absent' ) %>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="new_event_members">

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="edit_event_btn" class="btn btn-primary px-md-4" onclick="editEvent()">
                        <%=L('sch22', language, 'Edit' ) %>
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        <%=L('sch20', language, 'Close' ) %>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reschedule_event-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <%=L('sch23', language, 'Reschedule Event' ) %>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 mt-3">
                        <div class="mb-3 mt-3">
                            <label class="mb-2">
                                <%=L('sch24', language, 'Event date' ) %>
                            </label>
                            <input type="date" class="form-control" id="reschedule_event_date">
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="mb-2">
                                <%=L('sch25', language, 'Time' ) %>
                            </label>
                            <input type="time" id="reschedule_time" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-danger rounded-sm" data-dismiss="modal"
                        id="reschedule_event_btn" onclick="rescheduleEvent()">
                        <%=L('sch25', language, 'Reschedule' ) %>
                    </button>
                    <button type="button" class="btn btn-secondaryrounded-lg" data-bs-dismiss="modal">
                        <%=L('sch26', language, 'Back' ) %>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- END OF MODALS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <script>

        var globalEventIndex;
        var globalEventId;
        var globalEvents;
        var globalLinkId;
        var globalUsers;
        var globalDate;
        var globalSchedules;
        var globalScheduleId;
        const userRole = '<%= role %>';

        $(document).ready(async function () {
            var currentUrl = window.location.pathname;

            $(".nav-bar ul li").each(function () {
                var listItem = $(this);
                var listItemLink = listItem.find("a");
                var listItemHref = listItemLink.attr("href");

                if (currentUrl === listItemHref) {
                    listItem.addClass("active");
                } else {
                    listItem.removeClass("active");
                }
            });

            $("#repetition").on('change', (() => {
                let repetition = $('#repetition').val();

                if (repetition == 'single') {
                    $('#event_date-block').show();
                    $('#week_day-block').hide();
                } else {
                    $('#week_day-block').show();
                    $('#event_date-block').hide();
                }
                $('#time-block').show();
                $('#event_name-block').show();
                $('#coach_name-block').show();
            }));

            loading(1);
            getSchedules();
            getStudents();
            loading(0);
        });


        function showAddEventModal() {
            getCoaches();
            $('#add_event-modal').modal('show');
        }

        function addEvent() {
            loading(2, el = "#add_event_btn");
            let repetition = $("#repetition").val();
            let event_name = $("#event_name").val();
            let time = $("#time").val();
            let event_date = $("#event_date").val();
            let week_day = $("#week_day").val();
            let coach_id = $('#coach_id').val();
            let coach_name = $('#coach_id option:selected').text();

            (repetition == 'single') ? week_day = null : event_date = null;

            if (event_name.length > 25) {
                $.ambiance({
                    message: "<%=L('sch27', language, 'Event name must be 25 characters or less') %>.",
                    type: 'error',
                    fade: true,
                    width: 400
                });
                return loading(20, el = "#add_event_btn");
            }

            if (coach_id && repetition && event_name && time && (event_date || week_day)) {
                $.ajax({
                    type: "POST",
                    url: "/events/create",
                    data: {
                        repetition: repetition,
                        event_name: event_name,
                        time: time,
                        event_date: event_date,
                        week_day: week_day,
                        coach_id: coach_id,
                        coach_name: coach_name
                    },
                    success: function (r) {
                        $('#add_event-modal').modal('hide');
                        $("#repetition").val('');
                        $("#event_name").val('');
                        $("#time").val('');
                        $("#event_date").val('');
                        $("#week_day").val('');
                        $("#coach_id").val('');
                        $.ambiance({
                            message: "<%=L('sch28', language, 'Event added successfully') %>!",
                            type: "success",
                            fade: true,
                            width: 400
                        });
                        return loading(20, el = "#add_event_btn");;
                    },
                    error: function (error) {
                        console.error("Error:", error);
                        $.ambiance({
                            message: "<%=L('sch29', language, 'Error adding event. Please try again') %>.",
                            type: 'error',
                            fade: true,
                            width: 400
                        });
                        return loading(20, el = "#add_event_btn");;
                    }
                });
            } else {
                $.ambiance({
                    message: "<%=L('sch30', language, 'Please fill in all fields') %>!",
                    type: 'error',
                    fade: true,
                    width: 400
                });
                return loading(20, el = "#add_event_btn");;
            }
        }

        function getEvents() {
            $.ajax({
                url: '/events/get',
                method: 'GET',
                success: function (data) {
                    globalEvents = globalSchedules.concat(data)
                    initCalendar();
                    loading(0)
                },
                error: function (e) {
                    console.log(e)
                }
            });
        }

        function getSchedules() {
            $.ajax({
                url: '/schedule/get-all',
                method: 'POST',
                success: function (data) {
                    globalSchedules = data;
                    getEvents();

                },
                error: function (e) {
                    console.log(e)
                }
            });
        }

        function getCoaches() {
            $.ajax({
                url: '/users/get-all',
                method: 'get',
                data: { roles: 'coach' },
                dataType: 'json',
                success: function (coaches_data) {

                    if (!coaches_data.length) {
                        let no_members = `
                        <div class="no_members"><%=L('sch31', language, 'No members') %></div>
                        `
                        $('.members').append(no_members);
                        return;
                    }
                    var coachHTML = '<option value="none" disabled selected="true">None</option>'
                    coaches_data.forEach((coach) => {
                        coachHTML += `<option value="${coach.id}">${coach.first_name} ${coach.last_name}</option>`;
                    });
                    $('#coach_id').html(coachHTML);
                }, error: function (err) {
                    console.log(err);
                }
            });
        }

        function getStudents() {
            $.ajax({
                url: '/users/get-all',
                method: 'get',
                data: { roles: 'student' },
                dataType: 'json',
                success: function (students_data) {
                    globalUsers = students_data
                }, error: function (err) {
                    console.log(err);
                }
            });
        }

        function showConductEventModal(event_index) {
            globalEventIndex = event_index;
            globalEventId = globalEvents[event_index.split('-')[1]].event_id;

            showMembers();

            $('#conduct_event-modal').modal('show');
        }

        function showMembers() {
            var members = JSON.parse(globalEvents[globalEventIndex.split('-')[1]].members);
            console.log(globalEvents[globalEventIndex.split('-')[1]]);
            var membersHTML = '';
            var i = 0;
            members.forEach((m) => {
                membersHTML += `
                <tr>
                    <th scope="row">${i + 1}</th>
                    <td>${m.first_name} ${m.last_name}</td>
                    <td class="text-center"> <input type="radio" class="form-check-input member-${i}-status" name="member-${i}-status"
                            value="1" checked></td>
                    <td class="text-center"> <input type="radio" class="form-check-input member-${i}-status" name="member-${i}-status"
                            value="0"></td>
                </tr>
                `
                i++;
            });
            if (!members.length) membersHTML = "<div class='alert alert-light'><%=L('sch31', language, 'No members') %>.</div>"
            $('#event_members').html(membersHTML);
        }


        function conductEvent() {
            loading(2, el = "#conduct_event_btn")
            var description = $("#event_description").val().trim();
            var members_data = JSON.parse(globalEvents[globalEventIndex.split('-')[1]].members);
            let i = 0;

            members_data.forEach((m) => {
                var member_status = Number($('#event_members input[name="member-' + i + '-status"]:checked').val());

                if (!member_status && member_status != 0) {
                    return
                }
                m.status = member_status;
                i++;
            });

            if (i != members_data.length) {
                loading(20, el = "#conduct_event_btn");
                return $.ambiance({
                    message: "<%=L('sch30', language, 'Please fill in all fields') %>!",
                    type: 'error',
                    fade: true,
                    width: 400
                });
            }
            globalEvents[globalEventIndex.split('-')[1]].members = JSON.stringify(members_data);
            var eventData = globalEvents[globalEventIndex.split('-')[1]]
            $.ajax({
                url: '/schedule/conduct',
                method: "POST",
                data: {
                    description: description,
                    repetition: eventData.repetition,
                    event_name: eventData.event_name,
                    time: eventData.time,
                    week_day: eventData.week_day,
                    coach_id: eventData.coach_id,
                    coach_name: eventData.coach_name,
                    members: JSON.stringify(members_data),
                    event_id: eventData.event_id,
                    event_date: globalDate,
                    schedule_id: eventData.schedule_id
                },
                dataType: 'json',
                success: function (res) {
                    if (res.r) {
                        $.ambiance({
                            message: "<%=L('sch32', language, 'Event conducted') %>!",
                            type: "success",
                            fade: true,
                            width: 400
                        });
                    }
                    loading(20, el = "#conduct_event_btn");
                    getSchedules();
                    initCalendar()


                    return $('#conduct_event-modal').modal('hide');
                }
            })

        }

        function showRescheduleEventModal(event_index) {
            globalEventIndex = event_index;
            globalEventId = globalEvents[event_index.split('-')[1]].event_id;
            $('#reschedule_event-modal').modal('show');
        }

        function showCancelEventModal(event_index) {
            globalEventIndex = event_index;
            globalEventId = globalEvents[event_index.split('-')[1]].event_id;
            $('#cancel_event-modal').modal('show');
        }

        function cancelEvent() {
            loading(2, el = "#cancel_event_btn")
            var description = $("#cancel_reason").val().trim();
            var members_data = JSON.parse(globalEvents[globalEventIndex.split('-')[1]].members);
            let i = 0;

            members_data.forEach((m) => {
                m.status = 2;
                i++;
            });

            globalEvents[globalEventIndex.split('-')[1]].members = JSON.stringify(members_data);
            var eventData = globalEvents[globalEventIndex.split('-')[1]];


            $.ajax({
                url: '/schedule/cancel',
                method: "POST",
                data: {
                    description: description,
                    repetition: eventData.repetition,
                    event_name: eventData.event_name,
                    time: eventData.time,
                    week_day: eventData.week_day,
                    coach_id: eventData.coach_id,
                    coach_name: eventData.coach_name,
                    members: JSON.stringify(members_data),
                    event_id: eventData.event_id,
                    event_date: globalDate,
                    schedule_id: eventData.schedule_id
                },
                dataType: 'json',
                success: function (res) {
                    if (res.r) {
                        $.ambiance({
                            message: "<%=L('sch33', language, 'Event canceled') %>!",
                            type: "success",
                            fade: true,
                            width: 400
                        });
                    }
                    loading(20, el = "#cancel_event_btn");
                    loading(1);
                    getSchedules();
                    initCalendar();
                    return $('#cancel_event-modal').modal('hide');
                }
            })
        }

        function reopenEvent(event_index) {
            loading(2, el = "#reopen_event_btn");
            globalEventIndex = event_index;
            globalScheduleId = globalEvents[event_index.split('-')[1]].schedule_id;
            console.log(globalScheduleId)
            $.ajax({
                url: '/schedule/delete',
                method: "POST",
                data: {
                    schedule_id: globalScheduleId
                },
                dataType: 'json',
                success: function (res) {
                    if (res.r) {
                        $.ambiance({
                            message: "<%=L('sch34', language, 'Event reopened') %>!",
                            type: "success",
                            fade: true,
                            width: 400
                        });
                    }
                    loading(20, el = "#reopen_event_btn");
                    loading(1);
                    getSchedules();
                    initCalendar();
                    return $('#conduct_event-modal').modal('hide');
                }
            })
        }


        function showEditEventModal(event_index) {
            globalEventIndex = event_index;
            globalEventId = globalEvents[event_index.split('-')[1]].event_id;
            var description = globalEvents[event_index.split('-')[1]].description;

            showCurrentMembers();
            $('#new_event_description').html(description)
            $('#edit_event-modal').modal('show');
        }


        function showCurrentMembers() {
            var members = JSON.parse(globalEvents[globalEventIndex.split('-')[1]].members);

            var membersHTML = '';
            var i = 0;
            members.forEach((m) => {
                console.log(m)
                membersHTML += `
                <tr>
                    <th scope="row">${i + 1}</th>
                    <td>${m.first_name} ${m.last_name}</td>
                    <td class="text-center"> <input type="radio" ${m.status ? 'checked' : ''} class="form-check-input member-${i}-status" name="member-${i}-status"
                            value="1"></td>
                    <td class="text-center"> <input type="radio" ${!m.status ? 'checked' : ''}  class="form-check-input member-${i}-status" name="member-${i}-status"
                            value="0"></td>
                </tr>
                `
                i++;
            });
            if (!members.length) membersHTML = "<div class='alert alert-light'><%=L('sch31', language, 'No members') %>.</div>"
            $('#new_event_members').html(membersHTML);
        }



        function editEvent() {
            loading(2, el = "#edit_event_btn")
            var description = $("#new_event_description").val().trim();
            var members_data = JSON.parse(globalEvents[globalEventIndex.split('-')[1]].members);
            var schedule_id = globalEvents[globalEventIndex.split('-')[1]].schedule_id;
            let i = 0;

            members_data.forEach((m) => {
                var member_status = Number($('#new_event_members input[name="member-' + i + '-status"]:checked').val());

                if (!member_status && member_status != 0) {
                    return
                }
                m.status = member_status;
                i++;
            });

            if (i != members_data.length) {
                loading(20, el = "#edit_event_btn");
                return $.ambiance({
                    message: "<%=L('sch30', language, 'Please fill in all fields') %>!",
                    type: 'error',
                    fade: true,
                    width: 400
                });
            }
            globalEvents[globalEventIndex.split('-')[1]].members = JSON.stringify(members_data);
            var eventData = globalEvents[globalEventIndex.split('-')[1]]
            $.ajax({
                url: '/schedule/edit',
                method: "POST",
                data: {
                    description: description,
                    schedule_id: schedule_id,
                    members: JSON.stringify(members_data),
                },
                dataType: 'json',
                success: function (res) {
                    if (res.r) {
                        $.ambiance({
                            message: "<%=L('sch35', language, 'Event updated') %>!",
                            type: "success",
                            fade: true,
                            width: 400
                        });
                    }
                    loading(20, el = "#edit_event_btn");

                    return $('#edit_event-modal').modal('hide');
                }
            })

        }

        function rescheduleEvent() {
            loading(2, el = "#reschedule_event_btn")
            var event_date = $("#reschedule_event_date").val();
            var event_time = $("#reschedule_time").val();

            var eventData = globalEvents[globalEventIndex.split('-')[1]];

            $.ajax({
                url: '/schedule/reschedule',
                method: "POST",
                data: {
                    repetition: eventData.repetition,
                    event_name: eventData.event_name,
                    time: event_time,
                    event_date: event_date,
                    week_day: eventData.week_day,
                    coach_id: eventData.coach_id,
                    coach_name: eventData.coach_name,
                    members: eventData.members,
                    event_id: eventData.event_id,
                },
                dataType: 'json',
                success: function (res) {
                    if (res.r) {
                        $.ambiance({
                            message: "<%=L('sch36', language, 'Event rescheduled') %>!",
                            type: "success",
                            fade: true,
                            width: 400
                        });
                    }
                    loading(20, el = "#reschedule_event_btn");
                    cancelEvent();
                    return $('#cancel_event-modal').modal('hide');
                }
            });
        }



    </script>
    <script src="/public/js/calendar.js"></script>
</body>

</html>