@font-face {
    font-family: RedHatDisplayExtra;
    src: url(../fonts/RedHatDisplay-ExtraBold.ttf);
}

@font-face {
    font-family: RedHatDisplayMed;
    src: url(../fonts/RedHatDisplay-Medium.ttf);
}

@font-face {
    font-family: InterReg;
    src: url(../fonts/Inter-Regular.ttf);
}

.login_panel {
    box-shadow: 0 0 20px 0 gray;
    display: flex;
    border-radius: 30px;
    justify-content: space-between;
    height: 620px;
    width: 1240px;
    margin: 55px auto;
}

.welcome_screen {
    background: linear-gradient(#04DEAA, #2C9AFF);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.welcome_screen .welcome_text p {
    font-family: RedHatDisplayExtra;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
}

.sign_in {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.sign_in .sign_in_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}

.sign_in .sign_in_form .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.sign_in .title p {
    font-family: RedHatDisplayExtra;
    font-size: 56px;
    background: linear-gradient(#3793FF, #00FFC2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sign_in .title .title_line {
    width: 475px;
    height: 9px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    top: -55px;
    background: linear-gradient(to left, #0066FF, #89F0BF);
}

.sign_in_form .sign_in_heading {
    font-family: RedHatDisplayMed;
    font-size: 45px;
}

.sign_in_form input {
    padding: 10px 20px;
    width: 250px;
}

.form .email input {
    border: none;
    outline: none;
    border: 2px solid #2079FF;
    border-radius: 7px;
}

.form .password input {
    border: none;
    outline: none;
    border: 2px solid #2079FF;
    border-radius: 7px;
}

.sign_in_form .forgot {
    margin-top: 10px;
}

.sign_in_form .forgot a{
    color: #545454;
    text-decoration: none;
    font-family: InterReg;
    font-size: 13px;
}

.sign_in_form .login_btn {
    margin-top: -15px;
}

.sign_in_form .login_btn button {
    background: linear-gradient(to bottom left,#408CFF, #00FFC2);
    color: #FFFFFF;
    border: none;
    font-family: InterReg;
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
    padding: 10px 40px;
    cursor: pointer;
    transition: 0.5s;
}
.sign_in_form ::placeholder{
    color:#2079FF;
    transition: 0.5s;
}

.sign_in_form input:focus{
    border: none;
    outline: none;
    border: 2px solid #2079FF;
}

.sign_in_form input:focus::placeholder {
    color: #727477;
    font-size: 15px;
}

.sign_in_form .login_btn button:hover {
    box-shadow: 0 0 5px 0 #408CFF, 0 0 5px 0 #00FFC2;
}