@font-face {
    font-family: RedHatDisplayExtra;
    src: url(../fonts/RedHatDisplay-ExtraBold.ttf);
}

@font-face {
    font-family: RedHatDisplayMed;
    src: url(../fonts/RedHatDisplay-Medium.ttf);
}

@font-face {
    font-family: RedHatDisplayReg;
    src: url(../fonts//RedHatDisplay-Regular.ttf);
}


@font-face {
    font-family: InterReg;
    src: url(../fonts/Inter-Regular.ttf);
}


body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding-left: 20px;
    align-items: center;
    background-color: #262626;
    font-family: RedHatDisplayMed;
}

header .logo img {
    height: 25px;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    padding: 0;
}

button {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.profile {
    position: relative;
}

#profile-data {
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    cursor: pointer;
}

#profile-data img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.dropdown-content {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #262626;
    display: none;
}

.dropdown-content ul {
    margin: 10px;
}

.dropdown-content li:not(.divider) {
    pointer-events: none;
    padding: 8px 0;
    border-radius: 5px;
}

.dropdown-content .divider {
    background-color: #b3b3b3;
    height: 1px;
    line-height: 0;
    margin: 9px 0;
    overflow: hidden;
}

.dropdown-content ul a {
    margin: 15px 50px 15px 15px;
    color: white;
    pointer-events: auto;
}

.dropdown-content ul li:hover {
    background-color: #b3b3b363;
}

.news-content {
    display: flex;
}

.nav-bar {
    font-family: InterReg;
    background-color: white;
    flex: 0.15;
    min-height: 90vh;
    display: flex;
    justify-content: center;
}

.nav-bar ul {
    padding: 0;
    list-style: none;
}

.nav-bar ul li {
    margin: 15px 0;
    padding: 5px 15px;
    transition: 0.2s;
}

.nav-bar ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.nav-bar ul li.active {
    box-shadow: 0 0 5px #00FFC2;
    border-radius: 10px;
}

.nav-bar ul li:hover:not(.active) {
    box-shadow: 0 0 1px black;
    border-radius: 10px;
}

.nav-bar ul a {
    color: black;
}


/* ---- News Page ---- */

.content {
    padding: 30px;
    flex: 0.65;
    font-family: InterReg;
}

.content-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-head button {
    background-color: #047bf8;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
    width: 150px;
    height: 40px;
    transition: 0.3s;
}

.content-head button:hover {
    background-color: #004c9d;
    box-shadow: 0 0 7px #047bf8;
}

.content .divider {
    height: 1px;
    background-color: #2079FF;
}

.news {
    margin: 40px auto;
    box-shadow: 0 0 5px black;
    border-radius: 20px;
    padding: 20px;
    min-height: 220px;
}

.news img {
    width: 300px;
    height: 200px;
    float: left;
    margin: 10px;
    border-radius: 20px;
}

.news-text {
    line-height: 24px;
}

.ad-content {
    background-color: white;
    flex: 0.2;
    padding: 20px;
}

.hot-links {
    border: 1px rgb(57, 57, 57) solid;
    padding: 15px;
    border-radius: 10px;
}

.hot-links li {
    margin-bottom: 15px;
   
}

.hot-links a {
    color: #047bf8;
    transition: 0.2s;
}

.hot-links a:hover {
    color: #004c9d;
    border-bottom: #004c9d 1px solid;
}

.hot-links button {
    border: 2px #047bf8 solid !important;
    background: none;
    color: #047bf8;
    border-radius: 5px;
    padding: 5px;
    border: none;
    width: 110px;
    height: 30px;
    transition: 0.3s;
}

.hot-links button:hover {
    background-color: #047bf8;
    color: white;
}


/* ---- End News Page ---- */





















/* ---- Login Page ---- */

.login_panel {
    box-shadow: 0 0 20px 0 gray;
    display: flex;
    border-radius: 30px;
    justify-content: space-between;
    height: 620px;
    width: 1240px;
    margin: 55px auto;
}

.welcome_screen {
    background: linear-gradient(#04DEAA, #2C9AFF);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.welcome_screen .welcome_text p {
    font-family: RedHatDisplayExtra;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
}

.sign_in {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.sign_in .sign_in_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}

.sign_in .sign_in_form .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.sign_in .title p {
    font-family: RedHatDisplayExtra;
    font-size: 56px;
    background: linear-gradient(#3793FF, #00FFC2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sign_in .title .title_line {
    width: 475px;
    height: 9px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    top: -55px;
    background: linear-gradient(to left, #0066FF, #89F0BF);
}

.sign_in_form .sign_in_heading {
    font-family: RedHatDisplayMed;
    font-size: 45px;
}

.sign_in_form input {
    padding: 10px 20px;
    width: 250px;
    transition: 0.5s;
}

.form .email input {
    border: none;
    outline: none;
    border: 2px solid #2079FF;
    border-radius: 7px;
}

.form .password input {
    border: none;
    outline: none;
    border: 2px solid #2079FF;
    border-radius: 7px;
}

.sign_in_form .forgot {
    margin-top: 10px;
}

.sign_in_form .forgot a {
    color: #545454;
    text-decoration: none;
    font-family: InterReg;
    font-size: 13px;
}

.sign_in_form .login_btn {
    margin-top: -15px;
}

.sign_in_form .login_btn button {
    background: linear-gradient(to bottom left, #408CFF, #00FFC2);
    color: #FFFFFF;
    border: none;
    font-family: InterReg;
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
    padding: 10px 40px;
    cursor: pointer;
    transition: 0.3s;
}

.sign_in_form ::placeholder {
    color: #2079FF;
    transition: 0.5s;
}

.sign_in_form input:focus {
    border: none;
    outline: none;
    border: 2px solid #2079FF;
    border-color: #4f86ca;
    box-shadow: 0 0 5px 3px rgba(102, 170, 255, 0.5);
}

.sign_in_form input:focus::placeholder {
    color: #727477;
}

.sign_in_form .login_btn button:hover {
    box-shadow: 0 0 5px 0 #408CFF, 0 0 5px 0 #00FFC2;
}

.sign_in_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 70px;
}

.sign_in_btn {
    box-shadow: 0 0 5px 0px gray;
    border-radius: 10px;
    padding: 6px 6px 4px 7px;
    cursor: pointer;
}

.sign_in_btn img {
    border-radius: 10px;
}

.google, .apple {
    margin-right: 50px;
}

.text_or {
    position: relative;
    top: 10px;
}

.continue_text {
    text-align: center;
    font-family: RedHatDisplayReg;
    font-size: 13px;
    position: relative;
    bottom: 45px;
}

/* ---- End Login Page ---- */